// h1{
    // No h1 present yet
// }

h2{
    @include fontFamily(gotham, medium);
    @include fontSize(28, 34.4);
    color: is('black');

    @include breakpoint(large-phone){
        font-size: em(22);
    }
}

h3{
    @include fontFamily(gotham, medium);
    @include fontSize(26, 34.4);
    color: is('black');

    @include breakpoint(tablet-landscape){
        @include fontSize(21, 26.82, -15);
    }

    @include breakpoint(large-phone){
        @include fontSize(17, 21.81);
    }
}

h4{
    @include fontFamily(gotham, medium);
    @include fontSize(22, 26.4);
    color: is('black');

    @include breakpoint(tablet-landscape){
        @include fontSize(17, 20.16);
    }
}

h5{
    @include fontFamily(gotham, bold);
    @include fontSize(14,16.8);
    color: is('gray-lighter');
    text-transform: uppercase;

    @include breakpoint(large-phone){
        @include fontSize(9.36, 11.24);
    }
}

p{
    @include fontFamily(gotham, book);
    @include fontSize(16, 22);
    color: is('gray');

    @include breakpoint(large-phone){
        font-size: em(14);
    }

    > a{
        text-decoration: underline;

        &:hover{
            color: is('red');
        }
    }
}

a, a:visited{
    text-decoration: none;
}
