.faqs{
    &__list{
        list-style: none;

        &-item{
            position: relative;
            padding: 30px 0 30px 40px;
            border: 1px solid is('gray-light');
            background-color: is('white');

            &:not(:first-child){
                margin-top: 20px;
            }

            &--heading{
                @extend h4;
                @include fontSize(18, 22.78);
                color: is('black');
                padding-right: 90px;
            }

            &--body{
                @include fontSize(16, 24);
                display: none;
                margin-top: 26px;
                max-width: 780px;
            }

            &--button{
                @include transition;
                position: absolute;
                right: 40px;
                top: 20px;
                width: 30px;
                height: 30px;
                background-color: is('white');
                border: 5px solid is('gray-light');
                border-radius: 50%;

                &.open{
                    &:after{
                        @include prefixes('transform', 'rotate(0deg)');
                    }
                }

                &:hover{
                    border-color: is('black');
                }

                &:focus{
                    background-color: is('red');

                    &:before,
                    &:after{
                        background-color: is('white');
                    }
                }

                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 12px;
                    height: 2px;
                    margin-left: -6px;
                    margin-top: -1px;
                    background-color: is('red');
                }

                &:after{
                    @include transition;
                    @include prefixes('transform', rotate(90deg));
                }
            }
        }
    }

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(large-phone){
        &__list{
            &-item{
                padding: 20px;

                &--button{
                    right: 20px;
                }
            }
        }
    }


//────────────────────────────────────────────────────┘
}