.heroBanner{
    &--has-promoBlocks{
        position: relative;

        .heroBanner__slider{
            width: calc(100% - 300px);
        }

        .heroBanner__promoBlocks{
            position: absolute;
            top: 0;
            right: 50px;
            width: 290px;
            height: 100%;

            @include breakpoint(tablet-landscape){
                right: 40px;
            }

            .promoBlock{
                position: absolute;
                left: 0;
                width: 100%;
                height: calc(50% - 5px);

                &:first-child{
                    top: 0;
                }

                &:last-child{
                    bottom: 0;
                }
            }
        }
    }

    &__slide{
        @include bgCover;
        position: relative;
        height: 430px;

        &:not(:first-child){
            display: none;
        }

        &-content{
            @include transition(all, 0.5s 0.2s);
            position: absolute;
            height: 293px;
            padding: 35px 32px;
            box-sizing: border-box;
            background-color: rgba(is('white'), 0.85);
            box-shadow: 0 0 15px rgba(#000, 0.35);
            opacity: 0;

            &:hover,
            &:focus{

                .heroBanner__slide-button{
                    background-color: is('black');
                }
            }

            &--position{
                &-center{
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 403px;
                    padding-left: 38px;
                    padding-right: 38px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    .heroBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button{
                            top: -20px;
                        }

                        &-note{
                            bottom: -30px;
                            padding-left: 38px;
                            padding-right: 38px;
                        }
                    }
                }

                &-left,
                &-right{
                    top: 48px;
                    width: 303px;
                }

                &-left{
                    left: 10px;

                    .heroBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            left: -20px;
                        }
                    }
                }

                &-right{
                    right: 10px;

                    .heroBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            right: -20px;
                        }
                    }
                }
            }

            &-wrapper{
                &--position{
                    &-middle{
                        @include prefixes('transform', 'translateY(-50%)');
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        padding: 35px 32px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        &-subheading,
        &-heading,
        &-button,
        &-note{
            opacity: 0;
        }

        &-subheading,
        &-heading,
        &-note{
            @include transition(all, 0.5s 0.35s);
        }

        &-subheading,
        &-heading,
        &-button{
            position: relative;
        }

        &-subheading{
            margin-bottom: 12px;
            color: is('red');
        }

        &-heading{
            color: is('gray-darker');
            line-height: em(32.4, 26);

            + p{
                color: is('gray-darker');
            }

            + .button{
                margin-top: 26px;
                color: is('white');
            }
        }

        &-button{
            @include transition((all:(0.5s 0.35s), background-color:(0.2s)));
        }

        &-note{
            @include fontSize(12, 16.4, -20);
            @include fontFamily(gotham, medium);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 24px;
            padding-left: 32px;
            padding-right: 32px;
            text-transform: uppercase;
            box-sizing: border-box;
            color: is('gray-darker');
        }
    }

    &__tagline{
        padding: 11px 20px 12px;
        margin-top: 10px;
        text-align: center;
        box-sizing: border-box;
        background-color: is('gray-lighter');

        &-text{
            @include fontFamily(gotham, medium, italic);
            @include fontSize(22, 32);
            color: is('black');

            h1{
                @include fontFamily(gotham, bold, italic);
                display: inline;
                line-height: inherit;
                color: inherit;
            }
        }
    }

    .slick-active{
        .heroBanner__slide{
            &-content{
                opacity: 1;

                &--position{
                    &-center{
                        top: 48px;

                        .heroBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button{
                                top: 0;
                            }

                            &-note{
                                bottom: 0;
                            }
                        }
                    }

                    &-left{
                        left: 70px;

                        .heroBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                left: 0;
                            }
                        }
                    }

                    &-right{
                        right: 70px;

                        .heroBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                right: 0;
                            }
                        }
                    }
                }
            }

            &-subheading,
            &-heading,
            &-button,
            &-note{
                opacity: 1;
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .heroBanner{
        &__slide{
            &-heading{
                @include fontSize(22, 34.4);
            }
        }
    }
}
@include between(851, 980){
    .heroBanner{
        &--has-promoBlocks{
            .heroBanner{
                &__slide{
                    &-content{
                        left: 0 !important;
                        right: 0 !important;
                        width: calc(100% - 140px);
                        max-width: 404px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;

                        &-wrapper{
                            @include prefixes('transform', 'translateY(-50%)');
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            padding: 35px 32px;
                            box-sizing: border-box;

                            &:not(:last-child){
                                top: calc(50% - 18px);
                            }
                        }
                    }
                }
            }
        }
    }
}
@include between(851, 940){
    .heroBanner{
        &--has-promoBlocks{
            .heroBanner{
                &__slide{
                    &-heading{
                        @include fontSize(21, 26.82, -15);
                        max-width: 250px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
@include breakpoint(850){
    .heroBanner{
        &--has-promoBlocks{
            .heroBanner{
                &__slider,
                &__promoBlocks{
                    width: 100%;
                }

                &__promoBlocks{
                    position: static;
                    margin-top: 20px;

                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                    }

                    .promoBlock{
                        position: relative;
                        width: calc(50% - 10px);
                        height: 240px;

                        &:first-child{
                            float: left;
                        }

                        &:last-child{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint(tablet-portrait){
    .heroBanner{
        &__tagline{
            &-text{
                font-size: em(18);
            }
        }
    }
}
@include breakpoint(700){
    .heroBanner{
        &--has-promoBlocks{
            .heroBanner{
                &__promoBlocks{
                    margin-top: 10px;

                    .promoBlock{
                        width: calc(50% - 5px);
                        height: 134px;

                        &:before{
                            height: 6px;
                        }

                        &:after{
                            height: calc(100% - 6px);
                        }

                        &[style*="background"]{
                            background-image: none !important;
                            z-index: 0;

                            &:hover,
                            &:focus{
                                &:after{
                                    opacity: 0.15;
                                }
                            }

                            &:before,
                            &:after{
                                content: '';
                                position: absolute;
                                left: 0;
                                z-index: z(behind);
                                display: block;
                                width: 100%;
                                background-color: is('black');
                                opacity: 0.15;
                                mix-blend-mode: multiply;
                            }

                            &:before{
                                top: 0;
                            }

                            &:after{
                                @include transition(opacity);
                                bottom: 0;
                                top: auto;
                                opacity: 0;
                            }

                            &:first-child{
                                background-color: is('red');
                            }

                            &:last-child{
                                background-color: is('gray');
                            }
                        }

                        &__content{
                            width: 100%;
                            padding-left: 20px;
                            padding-right: 20px;
                            box-sizing: border-box;

                            &--position{
                                &-top{
                                    top: 22px;
                                }

                                &-bottom{
                                    bottom: 22px;
                                }
                            }

                            > *{
                                color: is('white');
                            }
                        }

                        &__heading{
                            @include fontFamily(gotham, medium);
                            font-size: em(19);

                            b{
                                padding-bottom: 0;
                                font-size: em(36.73, 19);
                                color: is('white');
                            }
                        }

                        &__message,
                        &__link{
                            + p{
                                margin-top:8px;
                            }
                        }

                        &__message{
                            @include fontSize(13.93, 17.98);
                            @include fontFamily(gotham, medium);
                        }

                        &__link{
                            @include fontFamily(gotham, book);
                            @include fontSize(10.13, 10.38);

                            &:after{
                                margin-top: 0;
                                border-top: 2px solid is('white');
                                border-right: 2px solid is('white');
                            }
                        }

                        &__note{
                            @include fontSize(7.6, 10.38);
                        }
                    }
                }
            }
        }

        &__slide{
            height: 370px;

            &-content{
                left: 0 !important;
                right: 0 !important;
                width: calc(100% - 140px);
                max-width: 404px;
                height: 312px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -23px;
                text-align: center;

                &-wrapper{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 35px 32px;
                    box-sizing: border-box;

                    &:not(:last-child){
                        top: calc(50% - 18px);
                    }
                }
            }

            &-heading{
                @include fontSize(21, 26.82, -15);
                max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .slick-dots{
            bottom: 11px;
        }
    }
}
@include breakpoint(500){
    .heroBanner{
        &__slide{
            height: 238px;

            &-content{
                height: 180px;

                &-wrapper{
                    padding: 20px 25px;

                    &:not(:last-child){
                        top: calc(50% - 10px);
                    }
                }
            }

            &-subheading{
                @include fontSize(9.36, 11.24);
                margin-bottom: 5px;
            }

            &-heading{
                @include fontSize(17, 21.81);

                + .button{
                    margin-top: 15px;
                }
            }

            &-button{
                font-size: em(8);
                min-width: 86px;
                padding: 7px 15px;
            }

            &-note{
                @include fontSize(8.03, 10.97, -20);
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 10px;
            }
        }
    }
}
@include breakpoint(large-phone){
    .heroBanner{
        .contain{
            padding-left: 0;
            padding-right: 0;
        }

        &__tagline{
            &-text{
                font-size: em(15);
            }
        }

        &__slide{
            &-content{
                padding: 35px 0px;
                width: calc(100% - 170px);

                &-wrapper{
                    padding: 20px 15px;
                }
            }

            &-heading{
                @include fontSize(14, 21.81);
            }
        }
    }
}

//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .heroBanner{
            &__slider{
                width: 100% !important;

                .slick-track{
                    width: 100% !important;
                    transform: none !important;
                }
            }

            &__slide{
                height: 260px !important;
                width: 100% !important;

                &:not(:nth-child(2)){
                    display: none !important;
                }

                &-content{
                    position:relative !important;
                    display:block !important;
                    top: inherit !important;
                    left: inherit !important;
                    right: inherit !important;
                    margin-right: inherit !important;
                    margin-left: inherit !important;
                    width: 100% !important;
                    height: 260px !important;
                    opacity: 1 !important;
                    border: 2px solid is('black');
                    box-sizing: border-box !important;
                }

                &-heading,
                &-subheading,
                &-note,
                &-button{
                    opacity: 1 !important;
                }

                &-note{
                    position: relative;
                    bottom: inherit;
                    padding-bottom: 0;
                    padding-top: 24px;

                }
            }

            &--has-promoBlocks{
                .heroBanner__promoBlocks{
                    position: relative;
                    right: inherit;
                    top: inherit;
                    width: 100%;

                    .promoBlock{
                        position :relative;
                        display: inline-block;
                        width: calc(50% - 12px);
                        height: 190px;
                        margin-right: 10px;
                        margin-left: -4px;
                        box-sizing: border-box;
                        border: 2px solid is('black');

                        + .promoBlock{
                            margin-top: 20px;
                            margin-right: 0px;
                            margin-left: 10px;
                        }

                        &__content{
                            padding-right: 20px !important;
                        }
                    }
                }
            }
        }
    }

//────────────────────────────────────────────────────┘