.offers{
    &__list{
        &-item{
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;

            &-wrapper{
                display: inline-block;

                &:focus{
                    background-color: is('red');

                    p{
                        color: is('white') !important;
                        border-color: is('white');
                    }
                }
            }

            &-thumbnail{
                @include bgCover;
                width: 100%;
                height: 0;
                padding-top: 84.8%;

                + *{
                    margin-top: 25px;
                }
            }

            &-desc,
            &-link{
                @include fontFamily(gotham, medium);
            }

            &-desc{
                @include fontSize(16, 21.2);
                padding-left: 15px;
                padding-right: 15px;
                color: is('black');

                + *{
                    margin-top: 15px;
                }
            }

            &-link{
                @include fontSize(12, 14.4);
                display: inline-block;
                padding-bottom: 2px;
                margin-bottom: 25px;
                color: is('red') !important;
                text-transform: uppercase;
                border-bottom: 1px solid is('red');
            }
        }
    }

    .slick-prev,
    .slick-next{
        width: 40px;
        height: 40px;
        border: 5px solid is('gray-light');
        box-shadow: none;

        &:before{
            line-height: 27px;
        }

        &:hover,
        &:focus{
            border-color: is('black');
        }

        &:focus{
            background-color: is('white');

            &:before{
                color: is('red');
            }
        }
    }

    .slick-prev{
        left: inherit;
        right: 100%;
    }

    .slick-next{
        right: inherit;
        left: 100%;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(600){
    .offers{
        &__list{
            &-item-wrapper{
                margin-top: 5px;
                margin-bottom: 5px;
                box-shadow: 0 0 10px rgba(#000, 0.1);
            }
        }
    }
}
@include breakpoint(500){
    .offers{
        .contain{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
@include breakpoint(large-phone){
    .offers{
        border-bottom: none;
    }
}

//────────────────────────────────────────────────────┘