.departmentHero{
    text-align: center;
    
    &__header{
        background-color: #313131;
		padding: 12px 18px 12px 23px;
		text-align: center;
    }

    &__container{
        position: relative;
        height: 250px;

        &--small{ 
            height: 150px;
        }

    }

    &__banner,
    &__graphic{
        @include bgCover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &__banner{
        z-index: 0;

        &, &:before{
            width: 100%;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            height: 100%;
            background-color: is('black');
            opacity: 0.45;
        }

        &-title{
            @include fontFamily(gotham, medium);
            @include fontSize(40, 56.4);
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: is('white');
        }
    }

    &__graphic{
        width: 445px;

        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            max-width: calc(100% - 40px);
            height: auto;
            max-height: calc(100% - 40px);
            margin: auto;
        }

        + .departmentHero__banner{
            left: 445px;
            width: calc(100% - 445px);
        }
    }

    &__footer{
        
        &__banner{
            background-color: #eaeaea;
            padding: 12px 18px 12px 23px; /*changed */
            color: #313131 !important;
        }
        
        
        
        background-color: is('gray-darker');
        padding:12px 18px 0 23px;

        // &-left{
        //     float: left;
        //
        //     &--link{
        //         &:hover,
        //         &:visited{
        //             .departmentHero__label{
        //                 color: is('gray');
        //             }
        //         }
        //
        //         &:focus{
        //             .departmentHero__label{
        //                 color: is('red');
        //             }
        //         }
        //     }
        // }

        &-right{
            float: right;

            &--link{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(14, 26.4);
                position: relative;
                display: inline-block;
                padding-left: 13px;
                padding-right: 13px;
                padding-bottom: 12px;
                color: is('#313131');

                &:after{
                    @include transition;
                    content:'';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 2px;
                    background-color: is('red');
                }

                &:hover,
                &:visited{
                    color: is('white');

                    &:after{
                        width: 100%;
                    }
                }

                &:focus{
                    color: is('red');
                }
            }
        }

        // &--mobile {
        //     display: none;
        // }

        &--computer {
            display: block;
        }
    }

    &__arrow-right-icon.fa,
    &__arrow-left-icon.fa  {
        font-size: 12px;
        color: is('white');
    }

    &__label{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(14, 26.4);
        color: is('white');
        display: inline-block;
        margin: 0 8px;

        &--link{
            @include fontFamily(gotham, bold);
            margin: 0 13px;
            //
            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: is('white');
            }
        }
    }

    &.departmentHero-subCategories{
        h1{
            font-size: em(50);
        }
    }

}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .departmentHero{
        &__graphic{
            width: 350px;

            + .departmentHero__banner{
                left: 350px;
                width: calc(100% - 350px);
            }
        }
    }
}
@include breakpoint(tablet-landscape){
    .departmentHero{
        &__container{
            height: 200px;
        }

        &__banner{
            &-title{
                font-size: em(35);
            }
        }

        &__graphic{
            width: 250px;

            + .departmentHero__banner{
                left: 250px;
                width: calc(100% - 250px);
            }
        }
    }
}

@include breakpoint(980){
    .departmentHero{
        &.departmentHero-subCategories{
            margin: 0px !important;

            .contain{
                padding: 0px;
            }
        }

        &__container{
            &--small{
                // height: 0;
                // display: none;
            }
        }

        &__footer{
            display: none;
            // &--mobile {
            //     display: block;
            //     padding: 7px 18px 5px 18px;
            //
            //     .departmentHero__arrow-left-icon.fa{
            //         font-size: em(15);
            //     }
            //
            //     .departmentHero__label{
            //         font-size: em(18);
            //     }
            //
            //     .departmentHero__label--link{
            //         font-size: em(14);
            //         margin-right: 0;
            //         margin-top: 2px;
            //     }
            // }

            // &--computer {
            //     display: none;
            // }
        }
    }
}

@include breakpoint(tablet-portrait){
    .departmentHero{
        &__container{
            height: 120px;
        }

        &__banner{
            &-title{
                font-size: em(28);
            }
        }

        &__graphic{
            width: 120px;

            + .departmentHero__banner{
                left: 120px;
                width: calc(100% - 120px);
            }
        }


        &__footer{
            // &--mobile {
            //     padding: 2px 18px 0 18px;
            // }
        }

    }
}
@include breakpoint(600){
    .departmentHero{

        &.departmentHero-subCategories{
            display:none;
        }

        .contain{
            padding: 0px;
        }


        &__container{
            height: 90px;
        }

        &__banner{
            &-title{
                font-size: em(22);
            }
        }

        &__graphic{
            width: 90px;

            + .departmentHero__banner{
                left: 90px;
                width: calc(100% - 90px);
            }
        }
    }
}


@include breakpoint(large-phone){
    .departmentHero{


        &__container{
            height: auto;
        }

        &__banner{
            position: relative;
            height: 90px;
        }

        &__graphic{
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 50%;

            + .departmentHero__banner{
                left: 0;
                width: 100%;
                margin-top: 10px;
            }
        }


        &-subCategories{
            .contain{
                padding: 0;
                margin: 0 !important;
            }
        }

    }
}

//────────────────────────────────────────────────────┘