.programDetails{
    &__list{
        @extend %clearfix;
        list-style: none;

        &-item{
            @include grid(2, 69px, 46px, (768:1));
            position: relative;
            padding-left: 80px;
            box-sizing: border-box;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url('../Blick2018Skin/SkinSource/Images/ui/icon-star.svg') is('red') no-repeat;
                background-position: 50% 48%;
            }

            &--heading{
                @extend h4;
                @include fontSize(18, 26.4);
                text-transform: uppercase;
            }

            &--body{
                @include fontSize(16, 24);
                padding-top: 5px;
            }
        }
    }

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(large-phone){
        margin: 30px 0 !important;

        &__list{
            padding-bottom: 70px;

            .slick-prev,
            .slick-next{
                @include prefixes(transform, none);
                box-shadow: none;
                border: 5px solid is('gray-light');
                top: inherit;
                bottom: 0px;

                &:hover{
                    border-color: is('black');
                }
            }

            .slick-prev{
                left: 50%;
                margin-left: -52px;
            }

            .slick-next{
                right: 50%;
                margin-right: -52px;
            }

            &-item{
                padding-left: 0px;
                text-align: center;
                clear: none !important;
                margin-top: 0px !important;

                &:before{
                    position:relative;
                    left: inherit;
                    top: inherit;
                    display: block;
                    margin: 0 auto 20px;
                }
            }
        }
    }
//────────────────────────────────────────────────────┘
}