//
//#department-show-more:hover{
//	cursor: pointer;
//	}
//
//	
//#departments-show-more-button{
//	color: #231F20;
//	text-align: center;
//	text-decoration: underline;
//	}
//	
//#departments-show-more-button:hover {
//	cursor: pointer;
//	}
//	
//more-dept-content{
//	display: none !important;
//	}
//	
//.departments-border-top-gray{
//	padding-top: 80px;
//	border-top: 5px solid #d8d6d6;
//	
//}
//
//.departmentLinks__options .smallerFont{
//	
//	font-size: 15px;
//}
//
//.slick-control{
//	display: none;
//}

//================================================================================
//TOP MEDIA BLOCKS - storeBannerMediaBlocks
.storeBannerMediaBlocks{
    @extend %clearfix;

    ul{
        list-style: none;
    }

    &__block{
        @include bgCover;
        @include grid(2, 20px, 20px, (767:(1, 10px, 10px)));
        position: relative;
        height: 175px;
        //height: 375px;

        &--small{
            height: 248px;
        }

        &-bg{
            @include bgCover;
            height: 100%;
        }

        &-button{
            -webkit-transition: background-color .2s ease;
            -moz-transition: background-color .2s ease;
            -o-transition: background-color .2s ease;
            transition: background-color .2s ease;
            position: absolute;
            bottom: 50px !important;
            left: 50px !important;
            width: calc(100% - 200px) !important;
            box-sizing: border-box;
            background-color: rgba(255,255,255,0.85);
            border: 3px solid #fff;
            box-shadow: 0 0 15px rgba(0,0,0,0.35);
            cursor: pointer;

            &__link{
                display: block;
                padding: 20px 30px 20px 40px;
                box-sizing: border-box;

                &:focus{
                    background-color: is('white');

                    &:before{
                        width: 32px;
                        background-color: is('red');
                    }

                    .storeBannerMediaBlocks__block-button__link-arrow{
                        right: 9px;
                        color: is('white');
                    }
                }

                &:before{
                    @include transition;
                    content: '';
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    width: 22px;
                    height: 100%;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    background-color: is('white');
                }

                &-arrow{
                    @include prefixes('transform', 'translateY(-50%)');
                    @include transition;
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    font-size: 12px !important;
                    color: is('red');
                }

                &-title{
                    @include fontFamily(gotham, medium);
                    @include fontSize(18, 34.4);
                    color: is('black');

                    @include breakpoint(tablet-landscape){
                        @include fontSize(21, 26.82, -15);
                    }

                    @include breakpoint(large-phone){
                        @include fontSize(17, 21.81);
                    }
                }

                &-desc{
                    @include fontSize(16, 20);
                    margin-top: 10px;
                    color: is('gray-dark');
                }

                // &:focus{
                //     background-color: is('red');
                //      > *{
                //          color: is('white');
                //     }
                //
                //     &:before{
                //         width: 32px;
                //         background-color: is('gray');
                //     }
                //
                //     .storeBannerMediaBlocks__block-button__link-arrow{
                //         right: 9px;
                //         color: is('white');
                //     }
                // }
            }

            &__video{
                &-play{
                    @include transition(background-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 102px;
                    height: 100%;
                    background-color: is('gray');

                    button{
                        margin-top: 21px;
                        margin-left: 22px;

                        &:focus{
                            box-shadow: 0 0 12px rgba(#000,0.35), 0 0 0 2px is('red') inset;
                        }
                    }
                }

                &-meta{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: calc(100% - 102px);
                    padding-left: 25px;
                    padding-right: 25px;
                    box-sizing: border-box;

                    &-title{
                        @include fontFamily(gotham, medium);
                        @include fontSize(18, 22.4);
                        color: is('black');
                    }

                    &-timestamp{
                        margin-top: 4px;
                        color: is('red');

                        &:before{
                            content:url(./SkinSource/Images/ui/icon-clock.svg);
                            display: inline-block;
                            margin-right: 10px;
                            vertical-align: text-top;
                        }
                    }
                }
            }

            &:hover,
            &:focus{
                background-color: is('white');

                .storeBannerMediaBlocks__block-button{
                    &__link{
                        &:before{
                            width: 32px;
                            background-color: is('gray');
                        }

                        &-arrow{
                            right: 9px;
                            color: is('white');
                        }
                    }

                    &__video{
                        &-play{
                            background-color: is('black');
                        }
                    }
                }
            }
        }

        &--type{
            &-video{

                .storeBannerMediaBlocks__block{
                    &-button{
                        height: 102px;
                    }
                }

                &.storeBannerMediaBlocks__block--small {
                    .storeBannerMediaBlocks__block-button{
                        height: 88px;

                        &__video-play{
                            width: 68px;

                            .button-play{
                                width: 36px;
                                height: 36px;
                                margin-left: 17px;
                                margin-top: 24px;
                                background-size: 7px 10px;
                            }
                        }

                        &__video-meta{
                            width: calc(100% - 68px);
                            padding: 0 16px;

                            &-title{
                                font-size: em(15);
                            }

                            &-timestamp{
                                font-size: em(12);

                                &:before{
                                    content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                    position: relative;
                                    margin-right: 6px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    &__showMore{
        display: none;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .storeBannerMediaBlocks{
        &__block{
            height: 300px;

            &-button{
                &__link{
                    padding: 15px 30px 15px 20px;

                    &-desc{
                        @include fontSize(13, 14.35);
                    }
                }

                &__video{
                    &-play{
                        width: 80px;

                        button{
                            height: 43px;
                            width: 43px;
                            margin-top: 16px;
                            margin-left: 18px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 80px);
                        padding-left: 20px;
                        padding-right: 20px;

                        &-title{
                            @include fontSize(15, 19.46);
                        }

                        &-timestamp{
                            font-size: em(13);

                            &:before{
                                content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                position: relative;
                                top: 1px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .storeBannerMediaBlocks__block{
                        &-button{
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@include between(768, 880){
    .storeBannerMediaBlocks{
        &__block{
            &-button{
                &__video{
                    &-play{
                        width: 0;

                        button{
                            margin-left: -21px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 21px);

                        &-title{
                            @include fontSize(13, 16.16);
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .storeBannerMediaBlocks{
        ul:not(.productCarousel__products):not(.slick-controls){
            max-width: 465px;
            margin: 0 auto;
        }

        &__block{
            height: 217px;

            &-button{
                bottom: 10px;
                left: 10px;
                width: calc(100% - 20px);

                &__video{
                    &-play{
                        width: 64px;

                        button{
                            margin-top: 9px;
                            margin-left: 10px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 64px);
                        padding-left: 15px;
                        padding-right: 15px;

                        &-title{
                            @include fontSize(13, 16.16);
                        }

                        &-timestamp{
                            display: none;
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .storeBannerMediaBlocks__block{
                        &-button{
                            height: 66px;
                        }
                    }
                }
            }
        }
        &#featured_videos{
            .productCarousel__products{
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        &#featured_lesson_plans{
            ul{
                max-width: 100%;
            }
        }
    }
}

@include breakpoint(large-phone){
    .storeBannerMediaBlocks{
        background-color: transparent;
        .storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button{
            height: 65px;
            bottom: 13px;

            &__video-play{
                .button-play{
                    margin-top: 12px;
                }
            }
        }

        &#featured_lesson_plans{
            .storeBannerMediaBlocks__block-button{
                bottom: 13px;

                &__link{

                    &:before{
                        width: 14px;
                    }

                    &-desc{
                        display: block;
                        display: -webkit-box;
                        height: calc(13px * (14.35/13) * 2);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin-top: 3px;
                    }

                    &-arrow{
                        font-size: em(10) !important;
                        right: 0px;
                    }
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .storeBannerMediaBlocks{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘


//================================================================================
//HEADERSPLIT

.headerSplit{
    @extend %clearfix;
    padding-top: 16px;
    padding-bottom: 16px;
    //border-bottom: 1px solid #3f4044;
	border: none;
	
	&__left{
		float: left;
		display: inline-block;
		padding-top: 15px;
	}

    &__social{
       	color: #3f4044;
		float: right;
		width: 36%; 
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 0;
		border-right: none;
		box-sizing: border-box;
		display: inline-block;

        &-heading,
        &-items{
            display: inline-block;
            vertical-align: middle;
        }

        &-heading{
            @include fontFamily(gotham, bold);
            @include fontSize(18);
            color: is('#3f4044');
            text-transform:none;
            margin-right: 28px;
        }

        &-items{
            list-style: none;
        }

        &-item{
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child){
                margin-right: 24px;
            }

            .fa{
                color: is('#3f4044');
            }
        }

        &-link{
            &:focus{
                .fa{
                    color: is('red');
                    box-shadow: 0 0 0 1px is('red');
                }
            }
        }
    }

    &__payment{
        float: left;
        width: 56%;
        padding-left: 50px;
        box-sizing: border-box;

        &-options{
            list-style: none;
        }

        &-option{
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
            text-align: right;

            &:last-child{
                margin-right: 0px;
            }
        }

        &-icon{
            display: block;
        }
    }

    &__tablet-options{
        float:left;
        width:45%;
        padding-left: 32px;
        box-sizing: border-box;

        > a, a:visited{
            color: is('gray');

            &:hover,
            &:focus{
                color: is('white');

                .headerSplit__phone-icon{
                    svg *{
                        fill: is('white');
                    }
                }
            }
        }
    }

    &__phone{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(16);
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 31px;



        &-icon{
            margin-right: 8px;

            svg *{
                @include transition;
            }
        }
    }

    &__scrollTop{
        font-size: em(14);
        padding: 17px 33px;

        &-icon{
            margin-left: 8px;

            svg *{
                @include transition;
            }
        }

        &:hover,
        &:focus{
            .headerSplit__scrollTop-icon{
                svg *{
                    stroke: is('gray');
                }
            }
        }
    }
}


//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(tablet-landscape){
        .headerSplit{
            padding-top: 30px;
            padding-bottom: 30px;

            &__social{
                width:55%;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 32px;

                &-heading,
                &-item{
                    padding-top: 14px;
                    padding-bottom: 14px;
                }

                &-item{
                    &:not(:last-child){
                        margin-right: 38px;
                    }
                }
            }
        }
    }

    @include between(large-phone, tablet-portrait){
        .headerSplit{
            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{

                &-heading{
                    display: block;
                    margin-right: 0px;
                }
            }

            &__phone{
                display: block;
                margin-right: 0px;
            }
        }
    }

    @include breakpoint(large-phone){
        .headerSplit{
            padding-top: 20px;
            padding-bottom: 30px;

            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{
                margin-bottom: 15px;

                &-heading{
                    display:none;
                }

                &-item{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &__phone{
                display: none;
            }

            &__scrollTop{
                display:block;
                width:100%;
            }
        }
    }

//────────────────────────────────────────────────────┘
//____________________________________________________


.storeMediaBlocks{
    @extend %clearfix;

    ul{
        list-style: none;
    }

    &__block{
        @include bgCover;
        @include grid(2, 20px, 20px, (767:(1, 10px, 10px)));
        position: relative;
        height: 375px;

        &--small{
            height: 248px;
        }

        &-bg{
            @include bgCover;
            height: 100%;
        }

        &-button{
            @include transition(background-color);
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
            box-sizing: border-box;
            background-color: rgba(is('white'), 0.85);
            border: 3px solid is('white');
            box-shadow: 0 0 15px rgba(#000, 0.35);
            cursor: pointer;

            &__link{
                display: block;
                padding: 20px 30px 20px 40px;
                box-sizing: border-box;

                &:focus{
                    background-color: is('white');

                    &:before{
                        width: 32px;
                        background-color: is('red');
                    }

                    .storeMediaBlocks__block-button__link-arrow{
                        right: 9px;
                        color: is('white');
                    }
                }

                &:before{
                    @include transition;
                    content: '';
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    width: 22px;
                    height: 100%;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    background-color: is('white');
                }

                &-arrow{
                    @include prefixes('transform', 'translateY(-50%)');
                    @include transition;
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    font-size: 12px !important;
                    color: is('red');
                }

                &-title{
                    @include fontFamily(gotham, medium);
                    @include fontSize(26, 34.4);
                    color: is('black');

                    @include breakpoint(tablet-landscape){
                        @include fontSize(21, 26.82, -15);
                    }

                    @include breakpoint(large-phone){
                        @include fontSize(17, 21.81);
                    }
                }

                &-desc{
                    @include fontSize(16, 20);
                    margin-top: 10px;
                    color: is('gray-dark');
                }

                // &:focus{
                //     background-color: is('red');
                //      > *{
                //          color: is('white');
                //     }
                //
                //     &:before{
                //         width: 32px;
                //         background-color: is('gray');
                //     }
                //
                //     .storeMediaBlocks__block-button__link-arrow{
                //         right: 9px;
                //         color: is('white');
                //     }
                // }
            }

            &__video{
                &-play{
                    @include transition(background-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 102px;
                    height: 100%;
                    background-color: is('gray');

                    button{
                        margin-top: 21px;
                        margin-left: 22px;

                        &:focus{
                            box-shadow: 0 0 12px rgba(#000,0.35), 0 0 0 2px is('red') inset;
                        }
                    }
                }

                &-meta{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: calc(100% - 102px);
                    padding-left: 25px;
                    padding-right: 25px;
                    box-sizing: border-box;

                    &-title{
                        @include fontFamily(gotham, medium);
                        @include fontSize(18, 22.4);
                        color: is('black');
                    }

                    &-timestamp{
                        margin-top: 4px;
                        color: is('red');

                        &:before{
                            content:url(./SkinSource/Images/ui/icon-clock.svg);
                            display: inline-block;
                            margin-right: 10px;
                            vertical-align: text-top;
                        }
                    }
                }
            }

            &:hover,
            &:focus{
                background-color: is('white');

                .storeMediaBlocks__block-button{
                    &__link{
                        &:before{
                            width: 32px;
                            background-color: is('gray');
                        }

                        &-arrow{
                            right: 9px;
                            color: is('white');
                        }
                    }

                    &__video{
                        &-play{
                            background-color: is('black');
                        }
                    }
                }
            }
        }

        &--type{
            &-video{

                .storeMediaBlocks__block{
                    &-button{
                        height: 102px;
                    }
                }

                &.storeMediaBlocks__block--small {
                    .storeMediaBlocks__block-button{
                        height: 88px;

                        &__video-play{
                            width: 68px;

                            .button-play{
                                width: 36px;
                                height: 36px;
                                margin-left: 17px;
                                margin-top: 24px;
                                background-size: 7px 10px;
                            }
                        }

                        &__video-meta{
                            width: calc(100% - 68px);
                            padding: 0 16px;

                            &-title{
                                font-size: em(15);
                            }

                            &-timestamp{
                                font-size: em(12);

                                &:before{
                                    content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                    position: relative;
                                    margin-right: 6px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    &__showMore{
        display: none;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .storeMediaBlocks{
        &__block{
            height: 300px;

            &-button{
                &__link{
                    padding: 15px 30px 15px 20px;

                    &-desc{
                        @include fontSize(13, 14.35);
                    }
                }

                &__video{
                    &-play{
                        width: 80px;

                        button{
                            height: 43px;
                            width: 43px;
                            margin-top: 16px;
                            margin-left: 18px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 80px);
                        padding-left: 20px;
                        padding-right: 20px;

                        &-title{
                            @include fontSize(15, 19.46);
                        }

                        &-timestamp{
                            font-size: em(13);

                            &:before{
                                content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                position: relative;
                                top: 1px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .storeMediaBlocks__block{
                        &-button{
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@include between(768, 880){
    .storeMediaBlocks{
        &__block{
            &-button{
                &__video{
                    &-play{
                        width: 0;

                        button{
                            margin-left: -21px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 21px);

                        &-title{
                            @include fontSize(13, 16.16);
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .storeMediaBlocks{
        ul:not(.productCarousel__products):not(.slick-controls){
            max-width: 465px;
            margin: 0 auto;
        }

        &__block{
            height: 217px;

            &-button{
                bottom: 10px;
                left: 10px;
                width: calc(100% - 20px);

                &__video{
                    &-play{
                        width: 64px;

                        button{
                            margin-top: 9px;
                            margin-left: 10px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 64px);
                        padding-left: 15px;
                        padding-right: 15px;

                        &-title{
                            @include fontSize(13, 16.16);
                        }

                        &-timestamp{
                            display: none;
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .storeMediaBlocks__block{
                        &-button{
                            height: 66px;
                        }
                    }
                }
            }
        }
        &#featured_videos{
            .productCarousel__products{
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        &#featured_lesson_plans{
            ul{
                max-width: 100%;
            }
        }
    }
}

@include breakpoint(large-phone){
    .storeMediaBlocks{
        background-color: transparent;
        .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button{
            height: 65px;
            bottom: 13px;

            &__video-play{
                .button-play{
                    margin-top: 12px;
                }
            }
        }

        &#featured_lesson_plans{
            .storeMediaBlocks__block-button{
                bottom: 13px;

                &__link{

                    &:before{
                        width: 14px;
                    }

                    &-desc{
                        display: block;
                        display: -webkit-box;
                        height: calc(13px * (14.35/13) * 2);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin-top: 3px;
                    }

                    &-arrow{
                        font-size: em(10) !important;
                        right: 0px;
                    }
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .storeMediaBlocks{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘