.subCategories{
    margin-bottom: 40px;

    .contain {
        max-width: 1398px;
        padding: 0 50px;
    }

    &__heading{
        @include fontFamily(gotham, medium);
        @include fontSize(18, 26.4);
        color: is('black');
        padding: 13px 30px 14px;
        display: inline-block;

        &--bold {
            font-weight: bold;
        }
    }

    &__header{
        background-color: is('gray-lighter');
        margin-bottom: 30px;

        & > *{
            display: inline-block;
        }

        &-left{
            padding: 4px 0 3px;
        }

        &-right{
            float: right;
        }

        .btn-refineResults{
            @include transition;
            @include fontFamily(gotham, bold);
            display: none;
            font-size: em(14);
            color: is('black');
            padding: 22px 10px;

            &:hover{
                color: is('white');
                background-color: is('red');
            }

            &:focus,
            &:active{
                color: is('red');
            }
        }

        &-btn{
            @include transition;
            width: 25px;
            height: 25px;
            padding: 17px 18px 18px 17px;
            display: inline-block;
            vertical-align: middle;


            &:nth-child(2) {
                margin: 0 -4px;
            }

            &:hover{
                svg *{
                    fill: is('red');
                }
            }


            svg {
                fill: is('black');

                *{
                    @include transition;
                }
            }

            &--active, &:focus{
                background: is('red');

                &:hover{
                    background-color: transparent;
                }

                svg {
                    fill: is('white');
                }
            }
        }
    }

    &__body{

        & > div{
            display: block;
            float: left;
        }

        .adblock{
            margin-top: 30px;

            &__ad{
                position: relative;
                width: 100%;
                height: 205px;
                background-color: is('gray-lighter');
                margin-bottom: 20px;

                p {
                    position: absolute;
                    left: 0;
                    top: calc(50% - 10px);
                    width: 100%;
                    @include fontFamily(gotham, book);
                    @include fontSize(16);
                    color: is('gray');
                    text-align: center;
                }
            }
        }

        &-leftArea{
            width: 300px;

            .filterBlock{
                border: solid 1px is('gray-light');

                &__header{
                    background-color: is('gray-lighter');
                    border-bottom: solid 1px is('gray-light');
                }

                &__body{
                    padding: 24px 0 0 0;
                }

                &__item{
                    position: relative;
                    padding: 8px 37px 8px 30px;
                    list-style-type: none;
                    cursor: pointer;

                    &--selected{
                        .filterBlock__redMark{
                            display: block;
                        }

                        .filterBlock__title{
                            @include fontFamily(gotham, medium);
                            color: is('gray-darker');
                        }
                    }

                    &--link{

                        &:hover,
                        &:focus{
                            .filterBlock__title{
                                color: is('red');
                            }
                        }
                    }
                }

                &__redMark{
                    position: absolute;
                    left: 0;
                    top: 10px;
                    width: 15px;
                    height: 15px;
                    background-color: is('red');
                    display: none;
                }

                &__title{
                    @include transition;
                    @include fontFamily(gotham, book);
                    @include fontSize(16, 22);
                    color: is('gray-dark');
                }

                &__link{
                    @include transition;
                    @include fontFamily(gotham, medium);
                    @include fontSize(12);
                    text-transform: uppercase;
                    color: is('black');
                    border-bottom: solid 1px is('black');
                    display: inline-block;
                    margin: 23px 37px 25px 30px;

                    &--gray{
                        @include transition;
                        font-size: em(12, 16);
                        color: is('gray');
                        border-bottom: solid 1px is('gray');
                        text-transform: capitalize;

                        &:hover,
                        &:focus{
                            color: is('red');
                            border-color: is('red');
                        }

                    }

                    &:hover,
                    &:focus{
                        color: is('red');
                        border-color: is('red');
                    }
                }
            }
        }

        &-mainArea{
            width: calc(100% - 330px);
            margin-left: 30px;
        }

        &-rightArea{
            width: 0;
            visibility: hidden;
        }

        &--hasRightArea{
            .subCategories__body-mainArea{
                width: calc(100% - 678px);
                margin: 0 30px;

                .subCategories__products-holder{
                    width: 100%;
                }
            }

            .subCategories__body-rightArea{
                width: 318px;
                visibility: visible;

                .adblock{
                    margin-top: 0px;
                }
            }
        }
    }

    &__products-holder{
        .productCarousel__products{

            &-info-close{
                display: none;
            }

            + .productCarousel__products-category{
                margin-top: 38px;
            }

            &-category{
                position: relative;
                display: inline-block;


                &--title{
                    @extend h2;
                }
            }

            &-info{
                @include prefixes('transform', 'translateY(-50%)');
                position: absolute;
                top: 50%;
                left: calc(100% - 20px);
                width: 463px;
                z-index: z(element, overlay);
                display: none;

                p{
                    @include fontSize(14, 21.2);
                    padding: 20px;
                    font-size: em(14, 28);
                    color: is('gray-darker');
                    box-shadow: 0 0 3px 3px rgba(#000, 0.15);
                    background-color: is("white");
                    box-sizing: border-box;

                    &:before{
                        @include prefixes('transform', 'rotate(45deg)');
                        content:'';
                        position: absolute;
                        width: 19px;
                        height: 19px;
                        top: 50%;
                        right: calc(100% - 11px);
                        margin-top: -9.5px;
                        background-color: is('white');
                        box-shadow: 0 0 3px 3px rgba(#000, 0.15);
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                        background-color: is('white');
                    }
                }



                &-icon{
                    position: relative;
                    display: inline-block;
                    padding-right: 51px;
                    padding-left: 12px;

                    i{
                        cursor: pointer;
                    }

                    &:hover{
                        svg circle{
                            fill: is('red')
                        }

                        .productCarousel__products-info{
                            display: block;
                        }
                    }

                    svg{
                        width: 15px;
                        height: 15px;

                        circle{
                            @include transition;
                        }
                    }
                }
            }

            &-item{
                position: relative;

                &:not(:first-child){
                    display: block;
                }

                .productCarousel__product{
                    &-reviews-number{
                        p{
                            @include fontFamily(gotham, book);
                            @include fontSize(16, 16);
                            display: inline-block;
                            color: is('gray-dark');
                            margin-right: 12px;

                            + p{
                                margin-right: 0px;
                                padding-left: 12px;
                                border-left: 1px solid is('gray-dark');
                            }
                        }
                    }

                    &.productCarousel__product-list-hover{
                        transition: opacity 0.2s, z-index 0.2s;
                        @include prefixes('transform', 'translateY(-50%)');
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        width: 587px;
                        max-width: 587px;
                        padding: 20px 28px 20px 0;
                        box-sizing: border-box;
                        box-shadow: 0 0 3px 3px rgba(#000, 0.15);
                        background-color: is('white');
                        z-index: z(behind);
                        opacity: 0;
                        display: block;

                        &:before{
                            @include prefixes('transform', 'rotate(45deg)');
                            content:'';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 21px;
                            height: 21px;
                            box-shadow: 0 0 3px 3px rgba(#000, 0.15);
                            margin-top: -10.5px;
                            margin-left: -10.5px;
                            background-color: is('white');
                            z-index: z(element, overlay);
                        }

                        &:after{
                            content:'';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 21px;
                            height: 100%;
                            background-color: is('white');
                            z-index: z(element, overlay);
                        }
                    }
                }
            }
        }

        &[data-display="grid"],
        &[data-display="list"]{
            .productCarousel__products{

                &-item{
                    .productCarousel__product{
                        &-reviews-number,
                        &-description{
                            display: none;
                        }
                    }
                }
            }
        }

        &[data-display="grid"]{
            .productCarousel__products{
                &-category{
                    // height: 0px;
                    // font-size: 0px;
                    display: block;
                    margin-bottom: 30px;
                }

                &-info-icon{
                    display: none;
                }

                &-item{
                    @include grid(4, 30px, 30px, (850:3, 600:2(0px)(0px)));

                    &.productCarousel__products-item--ad{
                        height: 316px;

                        .adblock__ad{
                            height:100%;
                        }
                    }
                }
            }
        }

        &[data-display="detail"]{
            .productCarousel__products{
                &-item{
                    padding: 32px 0;

                    &:not(:first-child){
                        border-top: 1px solid is('gray-light');
                    }

                    &:last-child{
                        border-bottom: 1px solid is('gray-light');
                    }

                    &.productCarousel__products-item--ad{
                        border-top: 0px;
                        padding-top: 0px;

                        .adblock__ad{
                            height: 113px;
                            margin-bottom: 0px;
                        }

                        + li{
                            padding-top: 8px;
                            border-top: 0px;
                        }
                    }

                    .productCarousel__product{
                        position: relative;
                        text-align: left;

                        &-image{
                            @include prefixes('transform', 'translateY(-50%)');
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 16%;
                            height: 100%;
                            
                            img{
                                width:auto;
                                height: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }

                        &-title{
                            @include fontSize(18);
                            width: calc(50% - 70px);
                            text-align: left;
                            margin-left: calc(16% + 30px);
                            margin-top: 0px;
                            min-height: auto;
                            padding-top: 3px;
                        }

                        &-alert{
                            position: absolute;
                            top: -3px;
                            right: 0;
                            margin-top: 0px;
                        }

                        &-rating{
                            display: inline-block;
                            margin-left: calc(16% + 30px);
                        }

                        &-reviews-number{
                            display: inline-block;
                            margin-left: 28px;
                        }

                        &-description{
                            position: relative;
                            width: calc(84% - 30px);
                            margin-left: calc(16% + 30px);
                            padding-top: 12px;
                            box-sizing: border-box;

                            p{
                                @include fontSize(14, 21.2);
                                color: is('gray-darker');
                                margin-right: 203px;
                                padding-right: 20px;
                            }

                            button{
                                @include prefixes('transform', 'translateY(-50%)');
                                position: absolute;
                                top: 50%;
                                right: 36px;
                            }
                        }
                    }
                }
            }
        }

        &[data-display="list"]{
            // width: calc(100% - 348px);

            .productCarousel__products{
                &-category{
                    &--title{
                        margin-bottom: 20px;
                    }
                }

                &-item{
                    padding-left: 15px;

                    &:before{
                        content:'';
                        position: absolute;
                        top: 8px;
                        left: 0px;
                        width: 5px;
                        height: 5px;
                        background-color: is('red');
                    }

                    &:not(:first-child){
                        padding-top: 14px;

                        &:before{
                            top: 22px;
                        }
                    }

                    &.productCarousel__products-item--ad{
                        display: none;
                    }

                    .productCarousel__product{
                        text-align: left;

                        &-image,
                        &-alert,
                        &-rating{
                            display: none;
                        }

                        &-title{
                            @include transition;
                            @include fontFamily(gotham, book);
                            @include fontSize(16, 22);
                            position: relative;
                            color: is('gray-dark');
                            margin: 0px;
                            min-height: auto;
                            padding-right: 20px;

                            &:before{
                                @include transition;
                                content:'';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0%;
                                height: 1px;
                                background-color: is('gray-light');


                            }

                            &:after{
                                @include transition;
                                @include prefixes(transform, translateY(-50%));
                                content: '\f054';
                                position: absolute;
                                right:10px;
                                top: 50%;
                                // display: inline;
                                font-family: "fontawesome";
                                font-size: 13px;
                                color: is('red');
                                padding-left: 0px;
                                opacity: 0;
                            }
                        }

                        &.productCarousel__product-list-hover{
                            .productCarousel__product{
                                &-image{
                                    @include prefixes('transform', 'translateY(-50%)');
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    width: 156px;
                                    height: 100%;
                                    margin: 0 20px;
                                }

                                &-alert,
                                &-rating,
                                &-description{
                                    display: block;
                                }

                                &-alert,
                                &-title,
                                &-description,
                                &-rating{
                                    margin-left: 196px;
                                }

                                &-rating,
                                &-reviews-number{
                                    display: inline-block;
                                }

                                &-alert{
                                    padding: 0px;
                                    background-color: transparent;
                                    font-size: em(12, 16);
                                }

                                &-title{
                                    @include fontFamily(gotham, medium);
                                    @include fontSize(18, 26.4);
                                    color: is('black');

                                    &:before, &:after{
                                        display: none;
                                    }
                                }

                                &-rating{
                                    margin-top: 7px;
                                }

                                &-reviews-number{
                                    margin-left: 14px;
                                    font-size: em(14);
                                }

                                &-description{
                                    padding-top: 7px;

                                    p{
                                        font-size: em(14);
                                        color: is('gray-darker');
                                        line-height: em(21.2, 14);
                                    }

                                    button.button-red{
                                        min-width: auto;
                                        padding: 0px;
                                        color: is('black');
                                        background-color: transparent;
                                        font-size: em(12);
                                        border-bottom: 1px solid is('black');
                                        border-radius: 0px;
                                        margin-top: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
                &-link{
                    position: relative;
                    display: inline-block;
                    padding-right: 48px;

                    &:hover,
                    &:focus{
                        .productCarousel__product-title{
                            color: is('black');

                            &:before{
                                width: 100%;
                            }

                            &:after{
                                opacity: 1;
                                right: 0px;
                            }
                        }

                        .productCarousel__product.productCarousel__product-list-hover{
                            transition-delay: 1s;
                            opacity: 1;
                            z-index: z(element, overlay)
                        }
                    }
                }

            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐
// @include breakpoint(1800){
//     .subCategories{
//         &__products-holder{
//             &[data-display="list"]{
//                 .productCarousel__products{
//                     &-category,
//                     &-item{
//                         margin-right: 240px;
//                     }
//                 }
//             }
//         }
//     }
// }

@include breakpoint(1500){
    .subCategories{
        &__products-holder{
            &[data-display="list"]{
                width: 100%;

                .productCarousel__products{
                    &-category{
                        margin-right: 150px;
                    }

                    &-item{
                        margin-right: 0px;

                        &:not(:first-child){
                            // padding-top: 0px;
                        }

                        &--link{
                            padding-right: 0px;
                            padding-bottom: 20px;
                        }

                        .productCarousel__product{
                            &-title{
                                &:after{
                                    content: '\f078';
                                }
                            }

                            &.productCarousel__product-list-hover{
                                @include prefixes(transform, none);
                                left:0;
                                top: calc(100% + 15px);

                                &:before{
                                    left: 30%;
                                    top: 0px;
                                }

                                &:after{
                                    height: 20px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(computer){
    .subCategories{

        &__header{
            .btn-refineResults{
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__body{
            &-leftArea{
                @include transition;
                @include prefixes(transform, translateX(-300px));
                position: absolute;
                left: 0;
                top: 0;
                float: none !important;
                background-color: is('white');
                z-index: z(element, overlay) + 3;

                &.subCategories__body-leftArea--slideOut{
                    @include prefixes(transform, translateX(0px));
                }

                .adblock{
                    display: none;
                }
            }

            &-rightArea{
                display: none !important;
            }

            &-mainArea{
                width: 100% !important;
                margin-left: 0 !important;
            }
        }

        &__products-holder{
            &[data-display="grid"]{
                .productCarousel__products-category--title{
                    padding-left: 40px;
                }
            }

            &[data-display="list"],
            &[data-display="detail"]{
                .productCarousel__products{
                    &-category{
                        margin-right: 0px;
                    }

                    &-info-icon{
                        position: initial;

                        &:hover{
                            .productCarousel__products-info{
                                display: none;
                            }
                        }
                    }

                    &-info{
                        @include prefixes(transform, translate(-50%, -50%));
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        z-index: z(element, overlay) + 3;
                        text-align: center;
                        display: none;
                        max-width: 465px;
                        width: calc(100% - 60px);
                        margin: 0 30px;
                        box-sizing: border-box;

                        p{
                            &:before{
                                content:'';
                                @include prefixes(transform, rotate(0deg));
                                position: absolute;
                                left: 50%;
                                top: -12.5px;
                                width: 21px;
                                height: 21px;
                                border: 2px solid is('white');
                                border-radius: 50%;
                                background: url('../Blick2018Skin/SkinSource/Images/ui/icon-i.svg') is('red')  50% 50% no-repeat;
                                margin-top: 0px;
                                margin-left: -12.5px;
                            }

                            &:after{
                                display: none;
                            }
                        }
                    }

                    &-info-close{
                        @include prefixes('transform', 'rotate(45deg)');
                        position: relative;
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        border: 2px solid is('gray-light');
                        border-radius: 50%;
                        background-color: is('white');
                        margin-top: 28px;

                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 8px;
                            height: 2px;
                            background-color: is('red');
                            margin: -1px 0 0 -4px;
                        }

                        &:after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 2px;
                            height: 8px;
                            background-color: is('red');
                            margin: -4px 0 0 -1px;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-landscape){
    .subCategories{
        .contain {
            padding: 0 40px;
        }

        &__products-holder{

            &[data-display="list"]{

                .productCarousel__products-category{
                    padding: 0 40px;
                }

                .productCarousel__products-item{
                    &--link{
                        &:hover{
                            .productCarousel__product.productCarousel__product-list-hover{
                                display: none;
                            }
                        }
                    }
                    .productCarousel__product{
                        &.productCarousel__product-list-hover{
                            @include prefixes('transform', 'none');
                            position: relative;
                            top: inherit;
                            left: inherit;
                            margin-top: 25px;
                            display: none;
                            opacity: 1;
                            z-index: z(element, overlay);

                            &:before{
                                left:30%;
                                top: 0;
                            }

                            &:after{
                                height: 20px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &[data-display="grid"]{
                .productCarousel__products{
                    &-category{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@include breakpoint(980){
    .subCategories{
        .contain{
            padding: 0px;
        }

        &__heading{
            @include fontFamily(gotham, medium);
            @include fontSize(16);
            padding: 8px 20px 7px;
        }

        &__header{
            margin-bottom: 0;

            // &-right{
            //     button:nth-child(3){
            //         display: none;
            //     }
            // }

            .btn-refineResults{
                padding: 16px 13px;
            }

            &-btn{
                width: 19px;
                height: 19px;
                padding: 13px;
            }
        }

        &__body{
            &-rightArea{
                display: none !important;
            }

            &-mainArea{
                width: 100% !important;
                margin-left: 0 !important;
            }
        }

        &__products-holder{

            &[data-display="detail"]{
                padding: 20px 0;
            }

            &[data-display="list"]{
                padding: 20px 30px 31px;
                box-sizing: border-box;
                border-bottom: 1px solid is('gray-light');
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .subCategories{
        &__heading{
            @include fontFamily(gotham, medium);
            @include fontSize(13, 13.9);
            padding: 8px 20px 7px;
        }

        &__header{
            margin-bottom: 0;

            .btn-refineResults{
                padding: 10px;
            }

            &-btn{
                width: 15px;
                height: 15px;
                padding: 10px;
            }
        }
    }
}

@include between(600, tablet-portrait){
    .subCategories{
        &__products-holder{
            &[data-display="detail"]{
                .productCarousel__products{
                    &-item{
                        .productCarousel__product{
                            &-title{
                                margin-right: 0px;
                                width: calc(84% - 30px);
                            }

                            &-alert{
                                bottom: 4px;
                                right: auto;
                                left: calc(16% + 180px);
                                top: auto;
                            }

                            &-description{
                                p{
                                    margin-right: 0px;
                                }
                                button{
                                    @include prefixes(transform, none);
                                    position: relative;
                                    top: inherit;
                                    left: inherit;
                                    right: inherit;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(600){
    .subCategories{
        &__header{
            .btn-refineResults{
                font-size: em(12);
                padding: 11px 10px;
            }

            &-right{
                button:nth-child(3){
                    display: none;
                }
            }
        }

        .contain{
            padding: 0px;
        }

        &__products-holder{
            .productCarousel__products-category{
                padding-left: 20px;
            }

            &[data-display="grid"]{
                .productCarousel__products{
                    &-link{
                        margin: 0px;
                        box-shadow: 0 0 1px 0px is('gray-light');
                        // outline: 1px solid is('gray-light');
                    }

                    &-item{
                        &:nth-child(2n+1){
                            clear: none;
                        }

                        &--ad{
                            display:none;
                        }

                        .productCarousel__product{
                            padding: 19px 8px;

                            &-title + p{
                                margin-top: 10px;
                            }

                            &-alert{
                                padding: 1px 11px;
                            }

                            &-rating{
                                margin-top: 9px;

                                &[data-rating]{
                                    .productCarousel__product-rating-star:before{
                                        background-size: auto 9px;
                                    }
                                }

                                &-star{
                                    &:before{
                                        background-size: auto 10px;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &[data-display="detail"]{
                display: none !important;
            }

            &[data-display="list"]{
                .productCarousel__products-category{
                    padding: 0 40px 0 0;
                }
                .productCarousel__products{
                    &-link{
                        box-shadow: none;
                        padding: 0px;
                        margin: 0px;
                        display: block;
                    }

                    &-category--title{
                        margin-bottom: 10px;
                        line-height: em(22.4, 22);
                    }

                    &-info{
                        max-width: 100%;
                        margin:0;
                    }

                    &-item{

                        &:not(:first-child){
                            padding-top: 6px;

                            &:before{
                                top: 12px;
                            }
                        }

                        .productCarousel__product{
                            padding: 0px;

                            &-title{
                                font-size: em(14);
                                line-height: em(18, 14);

                                &:before, &:after{
                                    display: none;
                                }
                            }
                        }
                    }

                    + .productCarousel__products-category{
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

@include breakpoint(large-phone){
    .subCategories{
        .contain {
            padding: 0;
        }

        &__products-holder{
            &[data-display="grid"]{
                .productCarousel__products{

                    &-link{
                        min-height: 300px;
                    }
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘