

.headerSplit{
    
    padding-top:16px;
    border-bottom:none;
    border: none;  
    
    &__social{
        color: #3f4044 !important;
        float: right;
        width: 50%; 
        border-right: none;
        box-sizing: border-box;
        display: inline-block;
        padding-top:11px;
        padding-bottom:25px;
        padding-right:0;
        
        &-item{
            display:inline-block;
            vertical-align:middle;
            
            &:not(:last-child){
                margin-right:21px
                }
        }
        
        
        &-heading{
            font-weight:700;
            font-style:normal;
            font-size:1.125em;
            color:#3f4044;
            text-transform:none;
            margin-right:28px}
        }
        
        &-items{
            list-style: none;
            float: right;
        }
        
    }


.headerSplit__social-heading,.headerSplit__social-items{
    display:inline-block;
    vertical-align:middle
}

.headerSplit__social-item .fa{
    color:#3f4044
}

.headerSplit__social-link:focus .fa{
    color:#E50914;
    box-shadow:0 0 0 1px #E50914
}

.headerSplit__social-item .fa{
	color: #3f4044;
}

    
@media screen and (max-width: 1024px){
	.headerSplit__social-item:not(:last-child) {margin-right: 5px;}
	.headerSplit__social-items {list-style: none;float: right;}
	.headerSplit__social{width: 50%;}
	.headerSplit__left{padding-top: 5px;padding-left: 10px !important;}
}    
    
    
@media screen and (max-width: 768px) and (min-width: 414px) {
    .headerSplit__social-heading {display: inline-block;margin-right: 0px;}
	.headerSplit__social{width: 50%;}
	.headerSplit__left{padding-top: 5px;}
}
    

@media screen and (max-width: 1024px){
    .headerSplit{padding-top:30px;padding-bottom:20px}
    .headerSplit__social{width:50%;padding-top:0px;padding-bottom:0px;padding-right:32px}
    .headerSplit__social-heading,.headerSplit__social-item{padding-top:14px;padding-bottom:14px}
    .headerSplit__social-item:not(:last-child){margin-right:5px}
    .headerSplit__social-items {list-style: none;float: right;}
    .headerSplit__left{padding-top: 5px;padding-left: 10px;}
}

@media screen and (min-width: 414px) and (max-width: 768px){
    .headerSplit__social,.headerSplit__tablet-options{float:right;/*width:100%;*/border-right:0px;text-align:center;padding-right:0px;padding-left:0px}
    .headerSplit__social-heading{display:inline-block;margin-right:0px}
    .headerSplit__phone{display:block;margin-right:0px}
}
    
    
    .headerSplit{padding-top:16px;border:none}

.headerSplit__social-items {
	list-style: none;
	float: right;
	}
    
.headerSplit__social-item .fa{
	color: #3f4044;	
    }

.headerSplit__social-heading{ 
	color: #3f4044;
	text-transform: none;
	font-size: 1.125em;
    }

.headerSplit__left{ 
	float: left;
	display: inline-block;
	padding-top: 5px;
}

.headerSplit__social{ 
	color: #3f4044 !important;
	float: right;
    width: 50%; 
    padding-top: 25px;
    padding-bottom: 0;
    padding-right: 0;
    border-right: none;
    box-sizing: border-box;
	display: inline-block;
	
}


.headerSplit__social{
    float:right;
    width:50%;
    padding-top:11px;
    padding-bottom:25px;
    padding-right:0;
    border-right:none;
    box-sizing:border-box;
    display: inline-block;
    color: #3f4044 !important;}

.headerSplit__social-heading,.headerSplit__social-items{
    display:inline-block;
    vertical-align:middle}

.headerSplit__social-heading{
    font-family:Gotham A,Gotham B, 'Montserrat';
    font-weight:700;
    font-style:normal;
    font-size:1.125em;
    color:#3f4044;
    text-transform:none;
    margin-right:28px}

.headerSplit__social-items{
    list-style:none;
    float: right;
    }

.headerSplit__social-item{
    display:inline-block;
    vertical-align:middle
}

.headerSplit__social-item:not(:last-child){
    margin-right:21px
}

.headerSplit__social-item .fa{
    color:#3f4044
}


.headerSplit__social-link:focus .fa{
        color:#E50914;
        box-shadow:0 0 0 1px #E50914
}
    

@media screen and (max-width: 1024px){
    
    .headerSplit{padding-top:30px;padding-bottom:20px}
    
    .headerSplit__social{width:50%;padding-top:0px;padding-bottom:0px;padding-right:32px}
    
    .headerSplit__social-heading,.headerSplit__social-item{padding-top:14px;padding-bottom:14px}
    
    .headerSplit__social-item:not(:last-child){margin-right:5px}
    
    .headerSplit__social-items {
    list-style: none;
    float: right;
	}
    
    .headerSplit__left{
		padding-top: 5px;
        padding-left: 10px;
       
	}
    
}
        
@media screen and (max-width: 1024px){
	.headerSplit__social-item:not(:last-child) {
    margin-right: 5px;
	}
	
	.headerSplit__social-items {
    list-style: none;
    float: right;
	}
	
	.headerSplit__social{
		width: 50%;
	}

	.headerSplit__left{
		padding-top: 5px;
        padding-left: 10px !important;
	}

}    
    
    
@media screen and (max-width: 768px) and (min-width: 414px) {
    .headerSplit__social-heading {
        display: inline-block;
        margin-right: 0px;
    }

	.headerSplit__social{
		width: 50%;
	}
	
	.headerSplit__left{
		padding-top: 5px;
	}
    
    .headerSplit__social,.headerSplit__tablet-options{
        float:right;/*width:100%;*/
        border-right:0px;
        text-align:center;
        padding-right:0px;
        padding-left:0px
        }
        
    .headerSplit__social-heading{
        display:inline-block;
        margin-right:0px
        }
    .headerSplit__phone{
        display:block;
        margin-right:0px
        }
}
 
 

.storeTabletBlocks ul{list-style:none}

.storeTabletBlocks__block{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:calc(50% - 20px)
	;float:left;
	margin-right:20px;
	position:relative;
	height:375px
}


.storeTabletBlocks__block:nth-child(2n){
	margin-right:0
}

.storeTabletBlocks__block:nth-child(2n+1){
	clear:left
}


.storeTabletBlocks__block:nth-child(n){
	margin-right:10px;
	clear:none
}

.storeTabletBlocks__block:nth-child(1n){
	margin-right:20px
}
	
.storeTabletBlocks__block:nth-child(1n+1){
	clear:none;
}

.storeTabletBlocks__block--small{
	height:248px
}
.storeTabletBlocks__block-bg{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
	height:100%
}

.storeTabletBlocks__block-button{-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;
	position:absolute;
	bottom:20px;
	left:20px;
	width:calc(100% - 40px);
	box-sizing:border-box;
	background-color:rgba(255,255,255,0.85);
	border:3px solid #fff;
	box-shadow:0 0 15px rgba(0,0,0,0.35);
	cursor:pointer
}

.storeTabletBlocks__block-button__link{
	display:block;
	padding:20px 30px 20px 40px;
	box-sizing:border-box
}


.storeTabletBlocks__block-button__link:focus{
	background-color:#fff
}


.storeTabletBlocks__block-button__link:focus:before{
	width:32px;
	background-color:#E50914
}

.storeTabletBlocks__block-button__link:focus .storeTabletBlocks__block-button__link-arrow{
	right:9px;
	color:#fff
}

.storeTabletBlocks__block-button__link:before{
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	content:'';
	position:absolute;
	top:-3px;
	right:-3px;
	width:22px;
	height:100%;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#fff
}

.storeTabletBlocks__block-button__link-arrow{
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	position:absolute;
	top:50%;
	right:4px;
	font-size:12px !important;
	color:#E50914
}

.storeTabletBlocks__block-button__link-title{
	font-family:Gotham A,Gotham B, 'Montserrat';
	font-weight:500;
	font-style:normal;
	font-size:1.625em;
	line-height:1.3230769231em;
	color:#231F20
}

@media (max-width: 767px){
	.storeTabletBlocks__block{/*width: calc(100% - 305px)*/;
    /*margin-left: 20px;*/
}}



@media screen and (max-width: 1024px){
	.storeTabletBlocks__block-button__link-title{
		font-size: 1.125em; /*font-size:1.3125em*/ ;
		line-height:1.2771428571em;
		letter-spacing:-.015em
		}
}
		
		
@media screen and (max-width: 414px){
	.storeTabletBlocks__block-button__link-title{
		font-size:1.0625em;line-height:1.2829411765em
	}
}
	
	
.storeTabletBlocks__block-button__link-desc{
	font-size:1em;
	line-height:1.25em;
	margin-top:10px;
	color:#727779
}

.storeTabletBlocks__block-button__video-play{
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;
	position:absolute;
	top:0;
	left:0;
	width:102px;
	height:100%;
	background-color:#A2A9AD
}
	
.storeTabletBlocks__block-button__video-play button{
	margin-top:21px;
	margin-left:22px
}

.storeTabletBlocks__block-button__video-play button:focus{
	box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset
}
	
		
.storeTabletBlocks__block-button__video-meta{
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	position:absolute;
	top:50%;
	right:0;
	width:calc(100% - 102px);
	padding-left:25px;
	padding-right:25px;
	box-sizing:border-box
}
	
	
.storeTabletBlocks__block-button__video-meta-title{
	font-family:Gotham A,Gotham B, 'Montserrat';
	font-weight:500;
	font-style:normal;
	font-size:1.125em;
	line-height:1.2444444444em;
	color:#231F20
}
		
.storeTabletBlocks__block-button__video-meta-timestamp{
	margin-top:4px;
	color:#E50914
}
	
	
.storeTabletBlocks__block-button__video-meta-timestamp:before{
	content:url(./SkinSource/Images/ui/icon-clock.svg);
	display:inline-block;
	margin-right:10px;
	vertical-align:text-top
}
	
	
.storeTabletBlocks__block-button:hover,.storeTabletBlocks__block-button:focus{
	background-color:#fff
}
	

.storeTabletBlocks__block-button:hover .storeTabletBlocks__block-button__link:before,.storeTabletBlocks__block-button:focus .storeTabletBlocks__block-button__link:before{
	width:32px;
	background-color:#A2A9AD
}

	
	
.storeTabletBlocks__block-button:hover .storeTabletBlocks__block-button__link-arrow,.storeTabletBlocks__block-button:focus .storeTabletBlocks__block-button__link-arrow{
	right:9px;
	color:#fff
}
	
	
.storeTabletBlocks__block-button:hover .storeTabletBlocks__block-button__video-play,.storeTabletBlocks__block-button:focus .storeTabletBlocks__block-button__video-play{
	background-color:#231F20}
	
.storeTabletBlocks__block--type-video .storeTabletBlocks__block-button{
	height:102px
}
	
	
.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button{
	height:88px
}
	
.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-play{
	width:68px
}
	
	
.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-play .button-play{
	width:36px;
	height:36px;
	margin-left:17px;
	margin-top:24px;
	background-size:7px 10px
}
	
.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-meta{width:calc(100% - 68px);padding:0 16px}
	
.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-meta-title{font-size:.9375em}

.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-meta-timestamp{font-size:.75em}

.storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock-sm.svg);position:relative;margin-right:6px}.storeTabletBlocks__showMore{display:none}


/*media*/

@media screen and (max-width: 1024px){
	.storeTabletBlocks__block{height:150px}
	.storeTabletBlocks__block-button__link{padding:19px 10px 15px 17px}
	.storeTabletBlocks__block-button__link-desc{font-size:.8125em;line-height:1.1038461538em}
	.storeTabletBlocks__block-button__video-play{width:80px}
	.storeTabletBlocks__block-button__video-play button{height:43px;width:43px;margin-top:16px;margin-left:18px}
	.storeTabletBlocks__block-button__video-meta{width:calc(100% - 80px);padding-left:20px;padding-right:20px}
	.storeTabletBlocks__block-button__video-meta-title{font-size:.9375em;line-height:1.2973333333em}
	.storeTabletBlocks__block-button__video-meta-timestamp{font-size:.8125em}
	.storeTabletBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock-sm.svg);position:relative;top:1px;margin-right:6px}
	.storeTabletBlocks__block--type-video .storeTabletBlocks__block-button{height:73px}}

@media screen and (min-width: 768px) and (max-width: 880px){
	.storeTabletBlocks__block-button__video-play{width:0}
	.storeTabletBlocks__block-button__video-play button{margin-left:-21px}
	.storeTabletBlocks__block-button__video-meta{width:calc(100% - 21px)}
	.storeTabletBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}
	}

@media screen and (max-width: 768px){
	.storeTabletBlocks ul:not(.productCarousel__products):not(.slick-controls){/*max-width:465px;*/margin:0 auto}
	.storeTabletBlocks__block{height: 150px;
}

.storeTabletBlocks__block-button{
	bottom:10px;
	left:10px;
	width:calc(100% - 20px)}
	
.storeTabletBlocks__block-button__video-play{width:64px}

.storeTabletBlocks__block-button__video-play button{
	margin-top:9px;
	margin-left:10px
	}
.storeTabletBlocks__block-button__video-meta{
	width:calc(100% - 64px);
	padding-left:15px;
	padding-right:15px
}
.storeTabletBlocks__block-button__video-meta-title{
	font-size:.8125em;
	line-height:1.2430769231em
}
	
.storeTabletBlocks__block-button__video-meta-timestamp{
	display:none
}

.storeTabletBlocks__block--type-video .storeTabletBlocks__block-button{
	height:66px
}
	
.storeTabletBlocks#featured_videos .productCarousel__products{
	padding-left:0px;
	padding-right:0px}
			
.storeTabletBlocks#featured_lesson_plans ul{
	max-width:100%}
}


@media screen and (max-width: 414px){
	.storeTabletBlocks{
		background-color:transparent
		}
	.storeTabletBlocks .storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button{
			height:65px;
			bottom:13px
			}
			
	.storeTabletBlocks .storeTabletBlocks__block--type-video.storeTabletBlocks__block--small .storeTabletBlocks__block-button__video-play .button-play{
		margin-top:12px
		}
		
	.storeTabletBlocks#featured_lesson_plans .storeTabletBlocks__block-button{
		bottom:13px
		}
	
	.storeTabletBlocks#featured_lesson_plans .storeTabletBlocks__block-button__link:before{width:14px}
	
	.storeTabletBlocks#featured_lesson_plans .storeTabletBlocks__block-button__link-desc{
		display:block;
		display:-webkit-box;
		height:calc(13px * (14.35/13) * 2);
		overflow:hidden;
		text-overflow:ellipsis;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		margin-top:3px
		}
	
	.storeTabletBlocks#featured_lesson_plans .storeTabletBlocks__block-button__link-arrow{
		font-size:.625em !important;
		right:0px
		}
	}


@media print{.storeTabletBlocks{display:none !important}}

/*END STORE TABLET BLOCKS*/


.storeMediaBlocksBottom:after{
    content:"";
    display:table;
    clear:both
}

.storeMediaBlocksBottom ul{
    list-style:none
}

.storeMediaBlocksBottom__block{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    width:calc(50% - 10px);
    float:left;
    margin-right:20px;
    position:relative;
    height:375px
}

.storeMediaBlocksBottom__block:nth-child(2n){
    margin-right:0
}

.storeMediaBlocksBottom__block:nth-child(2n+1){
    clear:left
}

.storeMediaBlocksBottom__block:nth-child(2) ~ *{
    margin-top:20px}
    
@media (max-width: 767px){
    .storeMediaBlocksBottom__block{
        width:calc(100% - 0px)
    }
    .storeMediaBlocksBottom__block:nth-child(n){
        margin-right:10px;
        clear:none}
    .storeMediaBlocksBottom__block:nth-child(1n){
        margin-right:0
    }
    
    .storeMediaBlocksBottom__block:nth-child(1n+1){
        clear:both
    }
    
    .storeMediaBlocksBottom__block:nth-child(1) ~ *{
        margin-top:10px
    }    
}
    
    
    
    
    .storeMediaBlocksBottom__block-button{
        -webkit-transition:background-color .2s ease;
        -moz-transition:background-color .2s ease;
        -o-transition:background-color .2s ease;
        transition:background-color .2s ease;
        position:absolute;
        bottom:20px;
        left:20px;
        width:calc(100% - 40px);
        box-sizing:border-box;
        background-color:rgba(255,255,255,0.85);
        border:3px solid #fff;
        box-shadow:0 0 15px rgba(0,0,0,0.35);
        cursor:pointer
    }
    
    .storeMediaBlocksBottom__block-button__link{
        display:block;
        padding:25px 30px 25px 30px;
        box-sizing:border-box
    }
    
    
    .storeMediaBlocksBottom__block-button__link:focus{
        background-color:#fff
    }
    
    .storeMediaBlocksBottom__block-button__link:focus:before{
        width:32px;
        background-color:#E50914
    }
    
    .storeMediaBlocksBottom__block-button__link:focus .storeMediaBlocksBottom__block-button__link-arrow{
        right:9px;
        color:#fff
    }
    
    .storeMediaBlocksBottom__block-button__link:before{
        -webkit-transition:all .2s ease;
        -moz-transition:all .2s ease;
        -o-transition:all .2s ease;
        transition:all .2s ease;
        content:'';
        position:absolute;
        top:-3px;
        right:-3px;
        width:22px;
        height:100%;
        padding-top:3px;
        padding-bottom:3px;
        background-color:#fff
    }
    
    .storeMediaBlocksBottom__block-button__link-arrow{
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        -webkit-transition:all .2s ease;
        -moz-transition:all .2s ease;
        -o-transition:all .2s ease;
        transition:all .2s ease;
        position:absolute;
        top:50%;
        right:4px;
        font-size:12px !important;color:#E50914
    }
    
    .storeMediaBlocksBottom__block-button__link-title{
        font-family:Gotham A,Gotham B, 'Montserrat';
        font-weight:500;
        font-style:normal;
        font-size:1.625em;
        line-height:1.3230769231em;
        color:#231F20
    }
        
    @media screen and (max-width: 1024px){
        .storeMediaBlocksBottom__block-button__link-title{
            font-size:1.3125em;
            line-height:1.2771428571em;
            letter-spacing:-.015em
        }
    }
    
    @media screen and (max-width: 414px){
        .storeMediaBlocksBottom__block-button__link-title{
            font-size:1.0625em;
            line-height:1.2829411765em
        }
    }
    
    
    .storeMediaBlocksBottom__block-button__link-desc{
        margin-top:5px;
        color:#727779
    }
    
    .storeMediaBlocksBottom__block-button__video-play{
        -webkit-transition:background-color .2s ease;
        -moz-transition:background-color .2s ease;
        -o-transition:background-color .2s ease;
        transition:background-color .2s ease;
        position:absolute;
        top:0;
        left:0;
        width:102px;
        height:100%;
        background-color:#A2A9AD
    }
    
    .storeMediaBlocksBottom__block-button__video-play button{
        margin-top:21px;
        margin-left:22px
    }
    
    .storeMediaBlocksBottom__block-button__video-play button:focus{
        box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset
    }
    
    .storeMediaBlocksBottom__block-button__video-meta{
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        position:absolute;
        top:50%;
        right:0;
        width:calc(100% - 102px);
        padding-left:25px;
        padding-right:25px;
        box-sizing:border-box
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-title{
        font-family:Gotham A,Gotham B, 'Montserrat';
        font-weight:500;
        font-style:normal;
        font-size:1.125em;
        line-height:1.2444444444em;
        color:#231F20
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-timestamp{
        margin-top:4px;
        color:#E50914
    }
    
    
    .storeMediaBlocksBottom__block-button__video-meta-timestamp:before{
        content:url(./SkinSource/Images/ui/icon-clock.svg);
        display:inline-block;
        margin-right:10px;
        vertical-align:text-top
    }
    
    .storeMediaBlocksBottom__block-button:hover,.storeMediaBlocksBottom__block-button:focus{
        background-color:#fff
    }
    
    .storeMediaBlocksBottom__block-button:hover .storeMediaBlocksBottom__block-button__link:before,.storeMediaBlocksBottom__block-button:focus .storeMediaBlocksBottom__block-button__link:before{
        width:32px;
        background-color:#A2A9AD
    }
    
    .storeMediaBlocksBottom__block-button:hover .storeMediaBlocksBottom__block-button__link-arrow,.storeMediaBlocksBottom__block-button:focus .storeMediaBlocksBottom__block-button__link-arrow{
        right:9px;
        color:#fff
    }
    
    .storeMediaBlocksBottom__block-button:hover .storeMediaBlocksBottom__block-button__video-play,.storeMediaBlocksBottom__block-button:focus .storeMediaBlocksBottom__block-button__video-play{
        background-color:#231F20
    }
    
    .storeMediaBlocksBottom__block--type-video .storeMediaBlocksBottom__block-button{
        height:102px
    }





@media screen and (max-width: 1024px){
    .storeMediaBlocksBottom__block{
        height:300px
    }
        
    .storeMediaBlocksBottom__block-button__link{
        padding:11px 30px 25px 14px
    }
    
    .storeMediaBlocksBottom__block-button__link-desc{
        font-size:.8125em;
        line-height:1.1038461538em
    }
    
    .storeMediaBlocksBottom__block-button__video-play{
        width:80px
    }
    
    .storeMediaBlocksBottom__block-button__video-play button{
        height:43px;
        width:43px;
        margin-top:16px;
        margin-left:18px
    }
    
    .storeMediaBlocksBottom__block-button__video-meta{
        width:calc(100% - 80px);
        padding-left:20px;
        padding-right:20px
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-title{
        font-size:.9375em;
        line-height:1.2973333333em
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-timestamp{
        font-size:.8125em
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-timestamp:before{
        content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
        position:relative;
        top:1px;
        margin-right:6px
    }
    
    .storeMediaBlocksBottom__block--type-video .storeMediaBlocksBottom__block-button{
        height:80px
    }
}
    

@media screen and (min-width: 768px) and (max-width: 880px){
    .storeMediaBlocksBottom__block-button__video-play{
        width:0
    }
    .storeMediaBlocksBottom__block-button__video-play button{
        margin-left:-21px
    }
    
    .storeMediaBlocksBottom__block-button__video-meta{
        width:calc(100% - 21px)
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-title{
        font-size:.8125em;
        line-height:1.2430769231em}
    }

@media screen and (max-width: 768px){
    .storeMediaBlocksBottom__block{
        height:217px
    }
    
    .storeMediaBlocksBottom__block-button{
        bottom:10px;
        left:10px;
        width:calc(100% - 20px)
    }
    
    .storeMediaBlocksBottom__block-button__video-play{
        width:64px
    }
    
    .storeMediaBlocksBottom__block-button__video-play button{
        margin-top:9px;
        margin-left:10px
    }
    
    .storeMediaBlocksBottom__block-button__video-meta{
        width:calc(100% - 64px);
        padding-left:15px;
        padding-right:15px
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-title{
        font-size:.8125em;
        line-height:1.2430769231em
    }
    
    .storeMediaBlocksBottom__block-button__video-meta-timestamp{
        display:none}
    
    .storeMediaBlocksBottom__block--type-video .storeMediaBlocksBottom__block-button{
        height:66px}
    }

@media screen and (max-width: 414px)/*{.storeMediaBlocksBottom{background-color:transparent}*/}

@media print{.storeMediaBlocksBottom{display:none !important}}




.storeMediaBlocks__block-button {
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    bottom: 37px !important;
    left: 35px !important;
    /*width: calc(100% - 161px) !important;*/
     width: calc(100% - 212px) !important;
    /*box-sizing: border-box;*/
    background-color: rgba(255,255,255,0.85);
    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
    cursor: pointer;
}


@media (max-width: 414px){
    .storeMediaBlocksBottom__block-button {
        width: calc(100% - 20px) !important;
        bottom: 35px !important;
        left: 11px !important;
    }
}
    
    
    
.storeMediaBlocksBottom__block-button__link-title{
	font-size: 1.125em !important;
}    
    
    
@media screen and (max-width: 768px){
.storeMediaBlocks__block {
    height: 317px !important;
	width: 200px;
	margin-right: 40px;
	}
}

.storeMediaBlocks__block-button__link {
    display: block;
    padding: 35px 30px 20px 40px;
    box-sizing: border-box;
}
    
.storeMediaBlocks ul{list-style:none}

.storeMediaBlocks__block{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    width:calc(50% - 10px);
    float:left;
    margin-right:20px;
    position:relative;
    height:150px
}


.storeMediaBlocks__block:nth-child(2n){
    margin-right:0
}

.storeMediaBlocks__block:nth-child(2n+1){
    clear:left
}

.storeMediaBlocks__block:nth-child(2) ~ *{
    margin-top:20px
}

@media (max-width: 767px){
    .storeMediaBlocks__block{
        width:calc(100% - 0px)
    }
    
.storeMediaBlocks__block:nth-child(n){
    margin-right:10px;
    clear:none}
    
.storeMediaBlocks__block:nth-child(1n){
    margin-right:0
}

.storeMediaBlocks__block:nth-child(1n+1){
    clear:both
}

.storeMediaBlocks__block:nth-child(1) ~ *{
    margin-top:10px}
    }

.storeMediaBlocks__block--small{
    height:248px}
    
.storeMediaBlocks__block-bg{
    -webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;height:100%}

.storeMediaBlocks__block-button{
    -webkit-transition:background-color .2s ease;
    -moz-transition:background-color .2s ease;
    -o-transition:background-color .2s ease;
    transition:background-color .2s ease;
    position:absolute;
    bottom:39px !important;
    left:45px !important;
    width:calc(100% - 196px);
    background-color:rgba(255,255,255,0.85);
    border:3px solid #fff;
    box-shadow:0 0 15px rgba(0,0,0,0.35);
    cursor:pointer}




.storeMediaBlocks__block-button__link{
    display:block;
    padding: 23px 30px 20px 30px;
    box-sizing:border-box}

.storeMediaBlocks__block-button__link:focus{
    background-color:#fff}

.storeMediaBlocks__block-button__link:focus:before{
    width:32px;background-color:#E50914}
    
.storeMediaBlocks__block-button__link:focus .storeMediaBlocks__block-button__link-arrow{
    right:9px;
    color:#fff}
        
    .storeMediaBlocks__block-button__link:before{
        -webkit-transition:all .2s ease;
        -moz-transition:all .2s ease;
        -o-transition:all .2s ease;
        transition:all .2s ease;
        content:'';
        position:absolute;
        top:-3px;
        right:-3px;
        width:22px;
        height:100%;
        padding-top:3px;
        padding-bottom:3px;
        background-color:#fff
    }
    
    .storeMediaBlocks__block-button__link-arrow{
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        -webkit-transition:all .2s ease;
        -moz-transition:all .2s ease;
        -o-transition:all .2s ease;
        transition:all .2s ease;
        position:absolute;
        top:50%;
        right:4px;
        font-size:12px !important;
        color:#E50914
    }
    
    .storeMediaBlocks__block-button__link-title{
        font-family:Gotham A,Gotham B, 'Montserrat';
        font-weight:500;
        font-style:normal;
        font-size:1.125em;
        line-height:1.3230769231em;
        color:#231F20
    }
    
    @media screen and (max-width: 1024px){
        .storeMediaBlocks__block-button__link-title{
            font-size:1.3125em;
            line-height:1.2771428571em;
            letter-spacing:-.015em
        }}
    
    @media screen and (max-width: 414px){
        .storeMediaBlocks__block-button__link-title{
            font-size:1.0625em;
            line-height:1.2829411765em
        }}
    
    .storeMediaBlocks__block-button__link-desc{
        font-size:1em;
        line-height:1.25em;
        margin-top:10px;
        color:#727779
    }
    
    .storeMediaBlocks__block-button__video-play{
        -webkit-transition:background-color .2s ease;
        -moz-transition:background-color .2s ease;
        -o-transition:background-color .2s ease;
        transition:background-color .2s ease;
        position:absolute;
        top:0;
        left:0;
        width:102px;
        height:100%;
        background-color:#A2A9AD
    }
    
    .storeMediaBlocks__block-button__video-play button{
        margin-top:21px;
        margin-left:22px
    }
    
    .storeMediaBlocks__block-button__video-play button:focus{
        box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset
    }
    
    
    .storeMediaBlocks__block-button__video-meta{
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        position:absolute;
        top:50%;
        right:0;
        width:calc(100% - 102px);
        padding-left:25px;
        padding-right:25px;
        box-sizing:border-box
    }
    
    .storeMediaBlocks__block-button__video-meta-title{
        font-family:Gotham A,Gotham B, 'Montserrat';
        font-weight:500;
        font-style:normal;
        font-size:1.125em;
        line-height:1.2444444444em;
        color:#231F20}
        
    .storeMediaBlocks__block-button__video-meta-timestamp{
        margin-top:4px;color:#E50914}
    
    .storeMediaBlocks__block-button__video-meta-timestamp:before{
        content:url(./SkinSource/Images/ui/icon-clock.svg);
        display:inline-block;
        margin-right:10px;
        vertical-align:text-top}
        
    .storeMediaBlocks__block-button:hover,.storeMediaBlocks__block-button:focus{
        background-color:#fff}
    
    .storeMediaBlocks__block-button:hover .storeMediaBlocks__block-button__link:before,.storeMediaBlocks__block-button:focus .storeMediaBlocks__block-button__link:before{
        width:32px;
        background-color:#A2A9AD}
        
    .storeMediaBlocks__block-button:hover .storeMediaBlocks__block-button__link-arrow,.storeMediaBlocks__block-button:focus .storeMediaBlocks__block-button__link-arrow{
        right:9px;
        color:#fff}
        
    .storeMediaBlocks__block-button:hover .storeMediaBlocks__block-button__video-play,.storeMediaBlocks__block-button:focus .storeMediaBlocks__block-button__video-play{
        background-color:#231F20}

    
    .storeMediaBlocks__block--type-video .storeMediaBlocks__block-button{height: 67px;}
    
    
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button{height:88px}
    
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-play{
        width:68px}
    
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-play .button-play{
        width:36px;
        height:36px;
        margin-left:17px;
        margin-top:24px;
        background-size:7px 10px}
        
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-meta{
        width:calc(100% - 68px);
        padding:0 16px}
        
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-meta-title{
        font-size:.9375em}
        
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-meta-timestamp{
        font-size:.75em}
        
    .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-meta-timestamp:before{
        content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
        position:relative;
        margin-right:6px}
        
    .storeMediaBlocks__showMore{
        display:none}
        
    @media screen and (max-width: 1024px){
        .storeMediaBlocks__block{
            height:300px}
            
        .storeMediaBlocks__block-button__link{
            padding:15px 30px 15px 20px}
            
        .storeMediaBlocks__block-button__link-desc{
            font-size:.8125em;
            line-height:1.1038461538em}
            
        .storeMediaBlocks__block-button__video-play{
            width:80px}
        
        .storeMediaBlocks__block-button__video-play button{
            height:43px;
            width:43px;
            margin-top:16px;
            margin-left:18px}
            
        .storeMediaBlocks__block-button__video-meta{
            width:calc(100% - 80px);
            padding-left:20px;
            padding-right:20px}
            
        .storeMediaBlocks__block-button__video-meta-title{
            font-size:.9375em;
            line-height:1.2973333333em}
            
        .storeMediaBlocks__block-button__video-meta-timestamp{
            font-size:.8125em}
        
        .storeMediaBlocks__block-button__video-meta-timestamp:before{
            content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
            position:relative;
            top:1px;
            margin-right:6px}
        
        .storeMediaBlocks__block--type-video .storeMediaBlocks__block-button{height:80px}}




@media screen and (min-width: 768px) and (max-width: 880px){.storeMediaBlocks__block-button__video-play{width:0}.storeMediaBlocks__block-button__video-play button{margin-left:-21px}.storeMediaBlocks__block-button__video-meta{width:calc(100% - 21px)}.storeMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}}






@media screen and (max-width: 768px){.storeMediaBlocks ul:not(.productCarousel__products):not(.slick-controls){max-width:465px;margin:0 auto}

.storeMediaBlocks__block{height:317px; width: 200px; margin-right: 40px;}

.storeMediaBlocks__block-button{bottom:10px;left:10px;width:calc(100% - 20px)}.storeMediaBlocks__block-button__video-play{width:64px}.storeMediaBlocks__block-button__video-play button{margin-top:9px;margin-left:10px}.storeMediaBlocks__block-button__video-meta{width:calc(100% - 64px);padding-left:15px;padding-right:15px}.storeMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}.storeMediaBlocks__block-button__video-meta-timestamp{display:none}.storeMediaBlocks__block--type-video .storeMediaBlocks__block-button{height:66px}.storeMediaBlocks#featured_videos .productCarousel__products{padding-left:0px;padding-right:0px}.storeMediaBlocks#featured_lesson_plans ul{max-width:100%}}



@media screen and (max-width: 414px){
    .storeMediaBlocks{
        background-color:transparent}
    
    .storeMediaBlocks .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button{
        height:65px;
        bottom:15px;
        left: 25px !important;
        width: calc(100% - 50px) !important;}

    .storeMediaBlocks .storeMediaBlocks__block--type-video.storeMediaBlocks__block--small .storeMediaBlocks__block-button__video-play .button-play{
        margin-top:12px}
        
    .storeMediaBlocks#featured_lesson_plans .storeMediaBlocks__block-button{
        bottom:13px}
        
    .storeMediaBlocks#featured_lesson_plans .storeMediaBlocks__block-button__link:before{
        width:14px}
        
    .storeMediaBlocks#featured_lesson_plans .storeMediaBlocks__block-button__link-desc{
        display:block;
        display:-webkit-box;
        height:calc(13px * (14.35/13) * 2);
        overflow:hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        margin-top:3px}
        
        .storeMediaBlocks#featured_lesson_plans .storeMediaBlocks__block-button__link-arrow{
            font-size:.625em !important;right:0px}}

@media print{
    .storeMediaBlocks{display:none !important}}
	

.storeMediaBlocksMobile:after{
    content:"";display:table;clear:both}.storeMediaBlocksMobile ul{list-style:none}
    
    
.storeMediaBlocksMobile__block{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    width:calc(50% - 10px);
    float:left;
    margin-right:20px;
    position:relative;
    height:375px
    }

.storeMediaBlocksMobile__block:nth-child(2n){
    margin-right:0}
    
.storeMediaBlocksMobile__block:nth-child(2n+1){
    clear:left}
    
.storeMediaBlocksMobile__block:nth-child(2) ~ *{
    margin-top:20px
    }
    
    
@media (max-width: 767px){
    .storeMediaBlocksMobile__block{width:calc(100% - 0px)}
    .storeMediaBlocksMobile__block:nth-child(n){
        margin-right:10px;
        clear:none
        }
        
    .storeMediaBlocksMobile__block:nth-child(1n){
        margin-right:0
        }
        
    .storeMediaBlocksMobile__block:nth-child(1n+1){
        clear:both
        }
    
    .storeMediaBlocksMobile__block:nth-child(1) ~ *{
        margin-top:10px}
    }


.storeMediaBlocksMobile__block-button{
    -webkit-transition:background-color .2s ease;
    -moz-transition:background-color .2s ease;
    -o-transition:background-color .2s ease;
    transition:background-color .2s ease;
    position:absolute;
    bottom:20px;
    left:20px;
    width:calc(100% - 40px);
    box-sizing:border-box;
    background-color:rgba(255,255,255,0.85);
    border:3px solid #fff;
    box-shadow:0 0 15px rgba(0,0,0,0.35);
    cursor:pointer}
        
        
.storeMediaBlocksMobile__block-button__link{
    display:block;
    padding:25px 30px 25px 30px;
    box-sizing:border-box
}

.storeMediaBlocksMobile__block-button__link:focus{
    background-color:#fff
}

.storeMediaBlocksMobile__block-button__link:focus:before{
    width:32px;
    background-color:#E50914;
    }

.storeMediaBlocksMobile__block-button__link:focus .storeMediaBlocksMobile__block-button__link-arrow{
    right:9px;color:#fff
}

.storeMediaBlocksMobile__block-button__link:before{
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
    content:'';
    position:absolute;
    top:-3px;
    right:-3px;
    width:22px;
    height:100%;
    padding-top:3px;
    padding-bottom:3px;
    background-color:#fff
}

.storeMediaBlocksMobile__block-button__link-arrow{
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
    position:absolute;
    top:50%;
    right:4px;
    font-size:12px !important;
    color:#E50914
}
        
        
        
.storeMediaBlocksMobile__block-button__link-title{
    font-family:Gotham A,Gotham B, 'Montserrat';
    font-weight:500;
    font-style:normal;
    font-size:1.625em;
    line-height:1.3230769231em;
    color:#231F20
}

@media screen and (max-width: 1024px){
    .storeMediaBlocksMobile__block-button__link-title{
        font-size:1.3125em;
        line-height:1.2771428571em;
        letter-spacing:-.015em
        }
}
    
@media screen and (max-width: 414px){
    .storeMediaBlocksMobile__block-button__link-title{
        font-size:1.0625em;
        line-height:1.2829411765em
        }
}

.storeMediaBlocksMobile__block-button__link-desc{
    margin-top:5px;
    color:#727779
    }
        
        
.storeMediaBlocksMobile__block-button__video-play{
    -webkit-transition:background-color .2s ease;
    -moz-transition:background-color .2s ease;
    -o-transition:background-color .2s ease;
    transition:background-color .2s ease;
    position:absolute;
    top:0;
    left:0;
    width:102px;
    height:100%;
    background-color:#A2A9AD
}
        
        
        
.storeMediaBlocksMobile__block-button__video-play button{
    margin-top:21px;
    margin-left:22px
}

.storeMediaBlocksMobile__block-button__video-play button:focus{
    box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset
}

.storeMediaBlocksMobile__block-button__video-meta{
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    position:absolute;
    top:50%;
    right:0;
    width:calc(100% - 102px);
    padding-left:25px;
    padding-right:25px;
    box-sizing:border-box
}

.storeMediaBlocksMobile__block-button__video-meta-title{
    font-family:Gotham A,Gotham B, 'Montserrat';
    font-weight:500;
    font-style:normal;
    font-size:1.125em;
    line-height:1.2444444444em;
    color:#231F20}
    
.storeMediaBlocksMobile__block-button__video-meta-timestamp{
    margin-top:4px;
    color:#E50914
}
    
.storeMediaBlocksMobile__block-button__video-meta-timestamp:before{
    content:url(./SkinSource/Images/ui/icon-clock.svg);
    display:inline-block;
    margin-right:10px;
    vertical-align:text-top
}

.storeMediaBlocksMobile__block-button:hover,.storeMediaBlocksMobile__block-button:focus{
    background-color:#fff
}

.storeMediaBlocksMobile__block-button:hover .storeMediaBlocksMobile__block-button__link:before,.storeMediaBlocksMobile__block-button:focus .storeMediaBlocksMobile__block-button__link:before{
    width:32px;
    background-color:#A2A9AD
}

.storeMediaBlocksMobile__block-button:hover .storeMediaBlocksMobile__block-button__link-arrow,.storeMediaBlocksMobile__block-button:focus .storeMediaBlocksMobile__block-button__link-arrow{
    right:9px;
    color:#fff
}

.storeMediaBlocksMobile__block-button:hover .storeMediaBlocksMobile__block-button__video-play,.storeMediaBlocksMobile__block-button:focus .storeMediaBlocksMobile__block-button__video-play{
    background-color:#231F20
}

.storeMediaBlocksMobile__block--type-video .storeMediaBlocksMobile__block-button{
    height:102px
}


@media screen and (max-width: 1024px){
    .storeMediaBlocksMobile__block{
        height:300px}
        
    .storeMediaBlocksMobile__block-button__link{
        padding:11px 30px 25px 14px}
    
    .storeMediaBlocksMobile__block-button__link-desc{
        font-size:.8125em;
        line-height:1.1038461538em}
        
    .storeMediaBlocksMobile__block-button__video-play{
        width:80px}
        
    .storeMediaBlocksMobile__block-button__video-play button{
        height:43px;
        width:43px;
        margin-top:16px;
        margin-left:18px
        }
        
    .storeMediaBlocksMobile__block-button__video-meta{
        width:calc(100% - 80px);
        padding-left:20px;
        padding-right:20px
        }
    
    .storeMediaBlocksMobile__block-button__video-meta-title{
        font-size:.9375em;
        line-height:1.2973333333em
    }
    
    .storeMediaBlocksMobile__block-button__video-meta-timestamp{
        font-size:.8125em}
    
    .storeMediaBlocksMobile__block-button__video-meta-timestamp:before{
        content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
        position:relative;
        top:1px;
        margin-right:6px}
    
    .storeMediaBlocksMobile__block--type-video .storeMediaBlocksMobile__block-button{
        height:80px
        }
    }

@media screen and (min-width: 768px) and (max-width: 880px){
    .storeMediaBlocksMobile__block-button__video-play{
        width:0}
        
    .storeMediaBlocksMobile__block-button__video-play button{
        margin-left:-21px}
    
    .storeMediaBlocksMobile__block-button__video-meta{
        width:calc(100% - 21px)
    }
        
    .storeMediaBlocksMobile__block-button__video-meta-title{
        font-size:.8125em;
        line-height:1.2430769231em
        }
    }

@media screen and (max-width: 768px){
    .storeMediaBlocksMobile__block{
        height:217px}
    
    .storeMediaBlocksMobile__block-button{
        bottom:10px;
        left:10px;
        width:calc(100% - 20px)
    }
    
    .storeMediaBlocksMobile__block-button__video-play{
        width:64px
    }
    
    .storeMediaBlocksMobile__block-button__video-play button{
        margin-top:9px;
        margin-left:10px
    }
    
    
    .storeMediaBlocksMobile__block-button__video-meta{
        width:calc(100% - 64px);
        padding-left:15px;
        padding-right:15px
    }
    
    .storeMediaBlocksMobile__block-button__video-meta-title{
        font-size:.8125em;
        line-height:1.2430769231em
    }
    
    .storeMediaBlocksMobile__block-button__video-meta-timestamp{
        display:none
    }
    
    .storeMediaBlocksMobile__block--type-video .storeMediaBlocksMobile__block-button{
        height:66px
        }
    }

@media screen and (max-width: 414px)}

@media print{.storeMediaBlocksMobile{display:none !important}}



@media screen and (max-width: 768px) and (min-width: 414px) {
.storeTabletBottom__block-button__link-title{
    
    font-size: 0.8em !important;
    }
}




@media screen and (max-width: 768px) and (min-width: 414px) {
.mediaBlocks ul:not(.productCarousel__products):not(.slick-controls) {
    width: 100% !important;
    margin: 0 auto;
    }

}

	/**/
	/*ul.store__tablet li {*/
	/*	display: inline;*/
	/*}*/
	

.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(odd){
	clear:none !important;
	
}

.mediaBlocks--col-3{
	width: calc(33.3333333333% - 14px) !important;
}




.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(1){
	/*margin-left: 10px;*/
	margin-left: 0;
	
}

.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(odd){
	clear: none;
}

.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(2n){
	/*margin-left: 0px;*/
}


@media (max-width: 767px) {
.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:first-child ~ * {
    margin-top: 10px;
    margin-left: 0px !important;
	
	}
}
 
 
 /*STORE TABLET BOTTOM*/
 
 .storeTabletBottom__block:nth-child(2n+1){
	clear: none;
}

.storeTabletBottom{
	max-width: none !important;	
}


.storeTabletBottom ul{
	list-style:none
}

.storeTabletBottom__block{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:calc(50% - 10px);
	float:left;
	margin-right:20px;
	position:relative;
	height:375px
}


.storeTabletBottom__block:nth-child(2n){
	margin-right:20px
}
	
.storeTabletBottom__block:nth-child(2n+1){
	clear:none
}



@media screen and (max-width:768px){
	.storeTabletBottom ul:not(.productCarousel__products):not(.slick-controls){
		margin:0 auto}
		
	.storeTabletBottom__block{
		height:217px}
	
	.storeTabletBottom__block-button{
		bottom:10px;
		left:10px;
		width:calc(100% - 20px)
	}
	.storeTabletBottom__block-button__video-play{
		width:64px
	}
	
	.storeTabletBottom__block-button__video-play button{
		margin-top:9px;
		margin-left:10px
	}
	
	.storeTabletBottom__block-button__video-meta{
		width:calc(100% - 64px);
		padding-left:15px;
		padding-right:15px
	}
	
	.storeTabletBottom__block-button__video-meta-title{
		font-size:0.8125em;
		line-height:1.2430769231em
	}
	
	.storeTabletBottom__block-button__video-meta-timestamp{
		display:none
	}
	
	.storeTabletBottom__block--type-video .storeTabletBottom__block-button{
		height:66px
	}
	
	.storeTabletBottom#featured_videos .productCarousel__products{
		padding-left:0px;
		padding-right:0px
	}
	
	.storeTabletBottom#featured_lesson_plans ul{
		max-width:100%
	}
}




@media (max-width: 767px){
	.storeTabletBottom__block{
		width:calc(100% - 0px)
	}
	
	.storeTabletBottom__block:nth-child(n){
		margin-right:10px;
		clear:none
	}


	.storeTabletBottom__block:nth-child(1n){
		margin-right:0; margin-top: 0;}
	
	
	.storeTabletBottom__block:nth-child(1n+1){clear:none; margin-left: 10px;}
	
	}
	
	
	
	
	
	.storeTabletBottom__block--small{height:248px}
	
	.storeTabletBottom__block-bg{
		-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
		background-position:50% 50%;
		background-repeat:no-repeat;
		height:100%
	}


.storeTabletBottom__block-button{
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;
	position:absolute;
	bottom:20px;
	left:20px;
	width:calc(100% - 40px);
	box-sizing:border-box;
	background-color:rgba(255,255,255,0.85);
	border:3px solid #fff;
	box-shadow:0 0 15px rgba(0,0,0,0.35);
	cursor:pointer
}

.storeTabletBottom__block-button__link{display:block;
	padding:20px 30px 20px 40px;
	box-sizing:border-box
}

.storeTabletBottom__block-button__link:focus{
	background-color:#fff
}

.storeTabletBottom__block-button__link:focus:before{
	width:32px;
	background-color:#E50914
}

.storeTabletBottom__block-button__link:focus .storeTabletBottom__block-button__link-arrow{
	right:9px;
	color:#fff
}
	
.storeTabletBottom__block-button__link:before{
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	content:'';
	position:absolute;
	top:-3px;
	right:-3px;
	width:22px;
	height:100%;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#fff
}

.storeTabletBottom__block-button__link-arrow{
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	position:absolute;
	top:50%;
	right:4px;
	font-size:12px !important;
	color:#E50914
}

.storeTabletBottom__block-button__link-title{
	font-family:Gotham A,Gotham B, 'Montserrat';
	font-weight:500;
	font-style:normal;
	font-size:1.625em;
	line-height:1.3230769231em;
	color:#231F20
}





@media screen and (max-width: 1024px){.storeTabletBottom__block-button__link-title{
	font-size: .875em;
	line-height:1.2771428571em;
	letter-spacing:-.015em
	}}

@media screen and (max-width: 414px){
	.storeTabletBottom__block-button__link-title{
		font-size:1.0625em;
		line-height:1.2829411765em
	}
}

.storeTabletBottom__block-button__link-desc{
	font-size:1em;
	line-height:1.25em;
	margin-top:7px;
	color:#727779
	}
	
.storeTabletBottom__block-button__video-play{
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;
	position:absolute;
	top:0;
	left:0;
	width:102px;
	height:100%;
	background-color:#A2A9AD
}

.storeTabletBottom__block-button__video-play button{
	margin-top:21px;
	margin-left:22px
}

.storeTabletBottom__block-button__video-play button:focus{
	box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset
}

.storeTabletBottom__block-button__video-meta{
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	position:absolute;
	top:50%;
	right:0;
	width:calc(100% - 102px);
	padding-left:25px;
	padding-right:25px;box-sizing:border-box
}

.storeTabletBottom__block-button__video-meta-title{
	font-family:Gotham A,Gotham B, 'Montserrat';
	font-weight:500;
	font-style:normal;
	font-size:1.125em;
	line-height:1.2444444444em;
	color:#231F20
}

.storeTabletBottom__block-button__video-meta-timestamp{
	margin-top:4px;color:#E50914
}


.storeTabletBottom__block-button__video-meta-timestamp:before{
	content:url(./SkinSource/Images/ui/icon-clock.svg);
	display:inline-block;
	margin-right:10px;
	vertical-align:text-top
}

.storeTabletBottom__block-button:hover,.storeTabletBottom__block-button:focus{
	background-color:#fff
}

.storeTabletBottom__block-button:hover .storeTabletBottom__block-button__link:before,.storeTabletBottom__block-button:focus .storeTabletBottom__block-button__link:before{
	width:32px;
	background-color:#A2A9AD
}

.storeTabletBottom__block-button:hover .storeTabletBottom__block-button__link-arrow,.storeTabletBottom__block-button:focus .storeTabletBottom__block-button__link-arrow{
	right:9px;
	color:#fff
}

.storeTabletBottom__block-button:hover .storeTabletBottom__block-button__video-play,.storeTabletBottom__block-button:focus .storeTabletBottom__block-button__video-play{
	background-color:#231F20
}

.storeTabletBottom__block--type-video .storeTabletBottom__block-button{
	height:102px
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button{
	height:88px
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-play{
	width:68px
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-play .button-play{
	width:36px;
	height:36px;
	margin-left:17px;
	margin-top:24px;
	background-size:7px 10px
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-meta{
	width:calc(100% - 68px);
	padding:0 16px
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-meta-title{
	font-size:.9375em
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-meta-timestamp{
	font-size:.75em
}

.storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-meta-timestamp:before{
	content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
	position:relative;
	margin-right:6px
}

.storeTabletBottom__showMore{
	display:none
}


@media screen and (max-width: 1024px){
	.storeTabletBottom__block{height:300px}
	
	.storeTabletBottom__block-button__link{
		padding:19px 30px 15px 18px;}
		
	.storeTabletBottom__block-button__link-desc{
		font-size:.8125em;line-height:1.1038461538em
	}
	
	.storeTabletBottom__block-button__video-play{
		width:80px
	}
	
	.storeTabletBottom__block-button__video-play button{
		height:43px;
		width:43px;
		margin-top:16px;
		margin-left:18px
	}
	
	.storeTabletBottom__block-button__video-meta{
		width:calc(100% - 80px);
		padding-left:20px;
		padding-right:20px
	}
	
	.storeTabletBottom__block-button__video-meta-title{
		font-size:.9375em;
		line-height:1.2973333333em
	}
	
	
	.storeTabletBottom__block-button__video-meta-timestamp{
		font-size:.8125em
	}
	
	.storeTabletBottom__block-button__video-meta-timestamp:before{
		content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
		position:relative;
		top:1px;
		margin-right:6px
	}
	
	.storeTabletBottom__block--type-video .storeTabletBottom__block-button{
		height:93px
		}
	}



@media screen and (min-width: 768px) and (max-width: 880px){
	.storeTabletBottom__block-button__video-play{
		width:0
	}

	.storeTabletBottom__block-button__video-play button{
		margin-left:-21px
	}
	
	.storeTabletBottom__block-button__video-meta{
		width:calc(100% - 21px)
		}
	
	.storeTabletBottom__block-button__video-meta-title{
		font-size:.8125em;
		line-height:1.2430769231em
		}
	}




/*EDITED*/


@media screen and (max-width: 768px){
	.storeTabletBottom ul:not(.productCarousel__products):not(.slick-controls){
		margin:0 auto
		}
	
	.storeTabletBottom__block{
			height: 300px;
		}

	
	.storeTabletBottom__block-button__link-desc {
		font-size: .58125em;
		line-height: 1.1038461538em;
	}
	
	.storeTabletBottom__block-button__link{
		padding: 26px 30px 15px 18px;
	}
	
	.storeTabletBottom__block-button{
		bottom:10px;
		left:10px;
		width:calc(100% - 20px)
	}
	
	.storeTabletBottom__block-button__video-play{
		width:64px}
	
	.storeTabletBottom__block-button__video-play button{
		margin-top:9px;
		margin-left:10px
	}
	
	.storeTabletBottom__block-button__video-meta{
		width:calc(100% - 64px);
		padding-left:15px;
		padding-right:15px
	}
	
	.storeTabletBottom__block-button__video-meta-title{
		font-size:.8125em;
		line-height:1.2430769231em
	}
	
	.storeTabletBottom__block-button__video-meta-timestamp{
		display:none
	}
	
	.storeTabletBottom__block--type-video .storeTabletBottom__block-button{
		height:93px
	}
	
	.storeTabletBottom#featured_videos .productCarousel__products{
		padding-left:0px;
		padding-right:0px
	}
	
	.storeTabletBottom#featured_lesson_plans ul{
		max-width:100%
		}
	}


@media screen and (max-width: 414px){
	.storeTabletBottom{
		background-color:transparent
	}
	
	.storeTabletBottom .storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button{
		height:65px;
		bottom:13px}
	
	.storeTabletBottom .storeTabletBottom__block--type-video.storeTabletBottom__block--small .storeTabletBottom__block-button__video-play .button-play{
		margin-top:12px;
	}
	
	.storeTabletBottom#featured_lesson_plans .storeTabletBottom__block-button{
		bottom:13px
	}
	
	.storeTabletBottom#featured_lesson_plans .storeTabletBottom__block-button__link:before{
		width:14px
	}
	
	.storeTabletBottom#featured_lesson_plans .storeTabletBottom__block-button__link-desc{
		display:block;
		display:-webkit-box;
		height:calc(13px * (14.35/13) * 2);
		overflow:hidden;
		text-overflow:ellipsis;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		margin-top:3px
	}
	
	.storeTabletBottom#featured_lesson_plans .storeTabletBottom__block-button__link-arrow{
		font-size:.625em !important;
		right:0px
		}
	}
	
	@media print{.storeTabletBottom{display:none !important}}
    
    /*END storeTabletBottom*/
    