
/*canvert to headerSplit
may have to add to storeBanner.scss
*/

@media screen and (max-width: 768px) and (min-width: 414px) {
.headerSplit__social-heading {
    display: inline-block;
    margin-right: 0px;
}

	.headerSplit__social{
		width: 50%;
	}
	
	.headerSplit__left{
		padding-top: 5px;
	}
}


@media screen and (max-width: 1024px){
	.headerSplit__social-item:not(:last-child) {
    margin-right: 5px;
	}
	
	.headerSplit__social-items {
    list-style: none;
    float: right;
	}
	
	.headerSplit__social{
		width: 50%;
	}

	.headerSplit__left{
		padding-top: 5px;
	}

}


.headerSplit__social-items {
	list-style: none;
	float: right;
	}
	
.headerSplit{
	border: none;  
	}	
	
.headerSplit__social-item .fa{
	color: #3f4044;
	
}

.headerSplit__social{ 
	color: #3f4044;
	float: right;
    width: 50%; 
    /*width: 100%;*/
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0;
    border-right: none;
    box-sizing: border-box;
	display: inline-block;
	
}

.headerSplit__social-heading{ 
	color: #3f4044;
	text-transform: none;
	font-size: 1.125em;
}

.headerSplit__left{ 
	float: left;
	display: inline-block;
	/*padding-top: 10px;*/
	padding-top: 5px;
}


	ul.store__tablet li {
		display: inline;
	}
	



/*mediaBlocks = storeBannerMediaBlocks*/
/*Will have to convert this to storeBannerMediaBlocks when delivering*/
/*
.mediaBlocks__block{
	height: 175px !important;
}

.categoryMediaBlocks__block-button {
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    bottom: 50px !important
    left: 50px !important;
    width: calc(100% - 200px) !important;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.85);
    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
    cursor: pointer;
}

@media (max-width: 414px){
	.categoryMediaBlocks__block-button {
		width: calc(100% - 50px) !important;
		bottom: 15px !important;
	    left: 25px !important;
		}
	}

MEDIA BLOCKS FOR TOP BANNER
.categoryMediaBlocks__block-button__link-title{

	font-size: 1.125em !important;
}

*/
/*
@media screen and (max-width: 768px){
.mediaBlocks__block {
    height: 317px !important;
	width: 200px;
	margin-right: 40px;
	}
}

.store__tablet{
	display: inline;
}

.store{
	
	&__tablet{
		display: inline;
	}
	
}


.mediaBlocks__block:nth-child(2n+1) {
    clear: none;
}

.mediaBlocks__block:nth-child(2) ~ *{
	margin-top: 0px;
}

.mediaBlocks__block:nth-child(2n) {
    margin-right: 30px;
} */



/*.mediaBlock:not(.mediaBlocks--col-3){*/
/*    .mediaBlocks__block{*/
/*        @include grid(2, 20px, 20px, (767:(1, 10px, 10px)));*/
/*    }*/
/*}*/
/**/
/*.mediaBlock--col-3{*/
/*    @include grid(3, 20px, 20px);*/
/*}*/


.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(odd){
	clear:none !important;
	
}

.mediaBlocks--col-3{
	width: calc(33.3333333333% - 14px) !important;
}


.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block{
	/*width: calc(33.3333333333% - 14px) !important;*/
	/*margin-left: 14px;*/

}


.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(1){
	/*margin-left: 10px;*/
	margin-left: 0;
	
}

.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(odd){
	clear: none;
}

.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:nth-child(2n){
	/*margin-left: 0px;*/
}


@media (max-width: 767px) {
.mediaBlocks:not(.mediaBlocks--col-3) .mediaBlocks__block:first-child ~ * {
    margin-top: 10px;
    margin-left: 0px !important;
	
	}
}

/*storeBanner footerSplit
==============================================
==============================================
*/


/*SCSS*/

.storeBanner{
    @extend %clearfix;
    padding-top: 16px;
    padding-bottom: 16px;
    /*border-bottom: 1px solid #3f4044;*/
	border: none;

    &__social{
        color: #3f4044;
		float: right;
		width: 36%; 
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 0;
		border-right: none;
		box-sizing: border-box;
		display: inline-block;

        &-heading,
        &-items{
            display: inline-block;
            vertical-align: middle;
        }

        &-heading{
            @include fontFamily(gotham, bold);
            @include fontSize(18);
            color: is('#3f4044');
            text-transform:none;
            margin-right: 28px;
        }

        &-items{
            list-style: none;
        }

        &-item{
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child){
                margin-right: 24px;
            }

            .fa{
                color: is('#3f4044');
            }
        }

        &-link{
            &:focus{
                .fa{
                    color: is('red');
                    box-shadow: 0 0 0 1px is('red');
                }
            }
        }
    }
	
	
	&__left{
		float: left;
		display: inline-block;
		padding-top: 15px;
	}

    &__payment{
        float: left;
        width: 56%;
        padding-left: 50px;
        box-sizing: border-box;

        &-options{
            list-style: none;
        }

        &-option{
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
            text-align: right;

            &:last-child{
                margin-right: 0px;
            }
        }

        &-icon{
            display: block;
        }
    }

    &__tablet-options{
        float:left;
        width:45%;
        padding-left: 32px;
        box-sizing: border-box;

        > a, a:visited{
            color: is('gray');

            &:hover,
            &:focus{
                color: is('white');

                .storeBanner__phone-icon{
                    svg *{
                        fill: is('white');
                    }
                }
            }
        }
    }

    &__phone{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(16);
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 31px;



        &-icon{
            margin-right: 8px;

            svg *{
                @include transition;
            }
        }
    }

    &__scrollTop{
        font-size: em(14);
        padding: 17px 33px;

        &-icon{
            margin-left: 8px;

            svg *{
                @include transition;
            }
        }

        &:hover,
        &:focus{
            .storeBanner__scrollTop-icon{
                svg *{
                    stroke: is('gray');
                }
            }
        }
    }
}


//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(tablet-landscape){
        .storeBanner{
            padding-top: 30px;
            padding-bottom: 30px;

            &__social{
                width:55%;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 32px;

                &-heading,
                &-item{
                    padding-top: 14px;
                    padding-bottom: 14px;
                }

                &-item{
                    &:not(:last-child){
                        margin-right: 38px;
                    }
                }
            }
        }
    }

    @include between(large-phone, tablet-portrait){
        .storeBanner{
            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{

                &-heading{
                    display: block;
                    margin-right: 0px;
                }
            }

            &__phone{
                display: block;
                margin-right: 0px;
            }
        }
    }

    @include breakpoint(large-phone){
        .storeBanner{
            padding-top: 20px;
            padding-bottom: 30px;

            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{
                margin-bottom: 15px;

                &-heading{
                    display:none;
                }

                &-item{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &__phone{
                display: none;
            }

            &__scrollTop{
                display:block;
                width:100%;
            }
        }
    }

//────────────────────────────────────────────────────┘
