.footerCertificates{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #3f4044;

    &__list{
        list-style: none;

        &-item{
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child){
                margin-right: 50px;
            }

            img{
                display: block;
            }
        }

        &-link{
            &:focus{
                img{
                    box-shadow: 0 0 0 2px is('red');
                }
            }
        }
    }
}