.accountLinks{
    width: 228px;
    padding-left: 52px;
    padding-right: 52px;
    float: left;
    position:relative;

    > a, > a:visited{
        color: is('black');
    }

    &__menu{
        @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s 0.2s));
        position: absolute;
        top: 60%;
        left: -34px;
        z-index: z(behind);
        width: 183px;
        text-align: center;
        list-style: none;
        border-top: 5px solid is('black');
        box-shadow:0 5px 15px rgba(#000, 0.2);
        opacity: 0;

        &.open{
            @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s));
            top: 100%;
            z-index: z(element, popup);
            opacity: 1;
        }

        &-hover{
            position: relative;
            padding-right: 20px;
            padding-bottom: 10px;
            margin-right: 49px;

            &:hover,
            &:focus{
                a:after{
                    @include prefixes('transform', 'rotate(-225deg)');
                    top:5px;
                }

                .accountLinks__menu{
                    @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s));
                    top: 100%;
                    z-index: z(element, popup);
                    opacity: 1;
                }
            }

            > a{
                color: is('black');

                &:after{
                    @include prefixes('transform', 'rotate(-45deg)');
                    @include transition;
                    content: '';
                    position: absolute;
                    top: 1px;
                    right: 2px;
                    height: 7px;
                    width: 7px;
                    border-left: 2px solid is('gray');
                    border-bottom: 2px solid is('gray');
                }


            }

            + a:hover{
                color: is('red');
            }
        }

        &-item{
            &:not(:first-child){
                border-top: 1px solid is('gray-light');
            }

            &:first-child a, &:first-child a:visited{
                color: is('white');
            }

            > a, > a:visited{
                color: is('gray-dark');
            }
        }


        &-link{
            @include fontFamily(gotham, book);
            @include fontSize(14, 18);
            padding: 7px 0;
            display: block;
            text-align: center;

            &:hover{
                background-color: is('gray-lighter');
                color: is('black');
            }

            &:focus{
                color: is('red') !important;
                text-decoration: underline !important;
            }
        }

        &-locations{
            display: none;
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(computer){
        .accountLinks{
            width: 87px;
            padding-left: 48px;
            padding-right: 32px;
            // box-sizing: border-box;

            &__menu{
                &-hover{
                    padding-right: 0px;
                    margin-right: 26px;

                    > a{

                        &:after{
                            display:none;
                        }
                    }
                }

                &-locations{
                    display: inline-block;

                    &-icon{
                        display: block;
                    }
                }
            }

            &__account-icon{
                display: block;
            }
        }
    }

    @include breakpoint(980){
        .accountLinks{
            position: absolute;
            float: none;
            right: 82px;
        }
    }

    @include breakpoint(tablet-portrait){
        .accountLinks{
            width: 62px;
            right: 64px;
            padding-left: 0px;
            padding-right: 0px;

            &__menu{
                display: none;

                &-hover{
                    margin-top: 12px;
                    margin-right: 12px;
                }
            }

            &__account-icon{
                width: 23px;
                height: 23px;

                svg{
                    width: 100%;
                    height: auto;
                }
            }

            &__locations-icon{
                display: block;
                width: 18px;
                height: 23px;

                svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .accountLinks{
            padding-left: 12px;
            padding-right: 12px;

            &__menu-hover{
                margin-right: 30px;
            }
        }
    }


//────────────────────────────────────────────────────┘