//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _Default
//    _Responsive
//      ∟General
//      ∟One
//      ∟Two
//      ∟Three
//      ∟Four
//      ∟Toggle
//    _ECoupons
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Default
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.couponBar{
    @include transition(background-color);
    position: relative;
    display: block;
    height: 75px;
    background-color: is('gray-lighter');

    &:hover,
    &:focus{
        background-color: rgba(is('gray-lighter'), 0.5);
    }

    .contain{
        height: 100%;
    }

    &__linkCover{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    &--has{
        &-1{
            .couponBar{
                &__specials{
                    &-item{
                        display: inline-block;
                        width: 100%;

                        .couponBar__specials-item__content-heading, p{
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .couponBar__specials-item__content-heading{
                            @include fontSize(37, 45.23, 35);

                            + p{
                                margin-left: 20px;
                            }
                        }

                        p{
                            @include fontSize(18.23, 21.87, 15);
                        }
                    }
                }
            }
        }

        &-2,
        &-3,
        &-4{
            .couponBar{
                &__specials{
                    @extend %clearfix;

                    &-item{
                        float: left;

                        &:not(:first-child){
                            border-left: 10px solid is('white');

                            .couponBar__specials-item__content{
                                padding-left: 40px;
                            }
                        }

                        &__content{
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }

        &-2,
        &-3{
            .couponBar{
                &__specials{
                    &-item{
                        text-align: left;

                        &__percentage{
                            float: left;

                            span{
                                bottom: 0;
                            }

                            + p{
                                margin-left: 18px;
                                float: left;
                            }
                        }
                    }
                }
            }
        }

        &-2{
            .couponBar{
                &__specials{
                    left: 0 !important;
                    right: 0;
                    max-width: 702px;
                    margin-left: auto;
                    margin-right: auto;

                    &-item{
                        &:first-child{
                            width: calc(44% - 5px);

                            .couponBar__specials-item__content{
                                padding-right: 40px;
                            }
                        }

                        &:nth-child(2){
                            width: calc(56% - 5px);
                        }

                        &__percentage{
                            margin-top: -1px;

                            + p{
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
        }

        &-3{
            .couponBar{
                &__specials{
                    &-item{
                        &:first-child{
                            width: 312px;
                            margin: 0;

                            .couponBar__specials-item__content{
                                padding-right: 40px;
                            }
                        }

                        &:nth-child(2){
                            width: 360px;

                            .couponBar__specials-item__content{
                                padding-right: 40px;
                            }
                        }

                        &:nth-child(3){
                            width: calc(100% - 692px);


                        }

                        &__percentage{
                            + p{
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        &-4{
            height: 95px;

            .couponBar{
                &__heading{
                    width: 90px;
                    margin-top: 22px;

                    + .couponBar__specials{
                        width: calc(100% - 381px);
                        left: 152px;
                    }
                }

                &__specials{
                    &-item{
                        &:first-child,
                        &:nth-child(2),
                        &:nth-child(3){
                            width: calc(21% - 7.5px);

                            .couponBar__specials-item__content{
                                padding-left: 25px;
                                padding-right: 25px;
                            }
                        }

                        &:nth-child(4){
                            width: calc(37% - 7.5px);
                            text-align: left;
                        }

                        &__percentage{
                            margin-bottom: 5px;
                            font-size: em(48.66) !important;
                            line-height: 35px !important;

                            sup{
                                font-size: em(28, 48.66);
                            }

                            span{
                                bottom: -3px;
                                font-size: em(12.58, 48.66);
                                line-height: 14px;
                            }

                            + p{
                                font-size: em(13) !important;
                                line-height: em(14.62, 13) !important;
                            }
                        }
                    }
                }

                &__code{
                    margin-top: 22px;
                }
            }
        }
    }

    &__heading{
        position: relative;
        width: 160px;
        height: 50px;
        margin-top: 12px;
        float: left;

        p{
            @include fontFamily(gotham, medium);
            @include fontSize(19.34, 23.2, 15);
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
            left: 0;
            color: is('black');
            text-transform: uppercase;
        }

        + .couponBar__specials{
            width: calc(100% - 451px);
            left: 222px;
        }
    }

    &__specials{
        position: absolute;
        top: 0;
        left: 50px;
        width: calc(100% - 279px);
        height: 100%;
        text-align: center;
        list-style: none;

        &-toggler{
            @include transition(background-color);
            position: relative;
            display: none;
            width: 100%;
            padding: 10px 20px;
            text-align: left;
            box-sizing: border-box;
            background-color: #383838;

            &.toggled{
                &:after{
                    @include prefixes('transform', 'translateY(-80%) rotate(-225deg)');
                }

                .couponBar__specials-toggler{
                    &__text{
                        &-closed{
                            display: none;
                        }

                        &-opened{
                            display: block;
                        }
                    }
                }
            }

            &__text{
                &-closed{
                    display: block;
                }

                &-opened{
                    display: none;
                }
            }

            &:hover{
                background-color: darken(#383838, 5);
            }

            &:after{
                @include prefixes('transform', 'translateY(-50%) rotate(-45deg)');
                content:'';
                position: absolute;
                top: 53%;
                right: 20px;
                width: 7px;
                height: 7px;
                border-top: 2px solid is('gray');
                border-right: 2px solid is('gray');
            }

            p, span{
                @include fontSize(14, 12.39);
                text-transform: uppercase;
            }

            p{
                @include fontFamily(gotham, bold);
                color: is('white');
            }

            span{
                @include fontFamily(gotham, book);
                display: block;
                margin-top: 3px;
                color: is('gray');
            }
        }

        &-item,
        &-item--ecoupon{
            position: relative;
            height: 100%;

            &:last-child{
                .couponBar__specials-item__content-heading{
                    margin-top: -5px;
                }
            }

            &--or,
            &--plus{
                &:before{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    display: block;
                    color: is('red');
                    text-align: center;
                    background-color: is('white');
                    border-radius: 50%;
                    border-style: solid;
                    border-color: is('gray-light');
                }
            }

            &--or{
                &:before{
                    @include fontFamily(gotham, bold);
                    content: 'OR';
                    left: -19px;
                    height: 25px;
                    width: 25px;
                    font-size: em(10);
                    line-height: 25px;
                    border-width: 2px;
                }
            }

            &--plus{
                &:before{
                    @include fontFamily(gotham, book);
                    content: '+';
                    left: -27px;
                    width: 33px;
                    height: 33px;
                    font-size: 30px;
                    line-height: 33px;
                    border-width: 5px;
                }
            }

            &__code{
                position: absolute;
                bottom: 0;
                left: 0;
                display: none;
                width: 100%;
                height: 75px;

                strong, > span{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                }

                strong{
                    @include fontFamily(gotham, medium);
                    @include fontSize(12, 16.4);
                    left: 10px;
                    display: block;
                    color: is('black');
                    text-transform: uppercase;

                }

                span{
                    display: block;
                }

                > span{
                    @include fontFamily(gotham, book);
                    @include fontSize(12, 14.4);
                    right: 10px;
                    color: is('gray');
                    text-align: right;
                    text-decoration: underline;
                }
            }

            &__content{
                @include prefixes('transform', 'translateY(-50%)');
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            &__percentage{
                @include fontSize(14,16.8);
                @include fontFamily(gotham, bold);
                position: relative;
                display: inline-block;
                // margin-top: -10px;
                font-size: em(54.13) !important;
                line-height: 40px !important;
                color: is('red') !important;
                text-transform: uppercase;

                sup{
                    @include fontFamily(gotham, black);
                    position: relative;
                    top: 2px;
                    font-size: em(28, 54.13);
                    vertical-align: super;
                }

                span{
                    @include fontFamily(gotham, bold);
                    position: absolute;
                    right: -2px;
                    font-size: em(14, 54.13);
                    line-height: 14px;
                    letter-spacing: tracking(-20);
                    color: is('black') !important;
                }

                + p{
                    font-size: em(19.34) !important;
                    line-height: em(23.2, 19.34) !important;
                    margin-top: 2px;

                    span{
                        display: block;
                    }
                }
            }

            .couponBar__specials-item__content-heading, p{
                text-transform: uppercase;
            }

            .couponBar__specials-item__content-heading{
                @include fontFamily(gotham, black);
                @include fontSize(32.48, 39.7, 35);
                text-transform: uppercase;
                color: is('red');
            }

            p{
                @include fontFamily(gotham, bold);
                @include fontSize(16, 19.2, 15);
                color: is('black');

                span{
                    color: is('red');
                }
            }
        }

        &-item--ecoupon{
            display: none !important;
        }
    }

    &__code{
        @include fontFamily(gotham, book);
        @include fontSize(12, 14.4);
        width: 167px;
        height: 50px;
        padding-left: 12px;
        margin-top: 12px;
        float: right;
        border-left: 1px solid is('gray-light');
        box-sizing: border-box;

        strong{
            @include fontFamily(gotham, medium);
            display: block;
            letter-spacing: tracking(-10);
            color: is('black');
            text-transform: uppercase;

            &:first-child{
                font-size: em(20, 16);
            }

            + span{
                margin-top: 5px;
                color: is('gray-darker');
            }
        }

        span{
            display: block;
            text-decoration: underline;
        }
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Responsive
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@media (min-width: 768px){
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    // ∟General
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    @include breakpoint(tablet-landscape){
        .couponBar{
            &__specials{
                left: 40px !important;
            }

            &__code{
                right: 40px !important;
            }
        }
    }


    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    // ∟One
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .couponBar--has-1{
        @include between(1041, 1100){
            .couponBar{
                &__heading{
                    width: 100px;
                }

                &__specials{
                    left: 162px;
                    width: calc(100% - 394px);
                }
            }
        }
        @include breakpoint(1040){
            .couponBar{
                &__specials{
                    left: 222px !important;

                    &-item{
                        text-align: center;

                        .couponBar__specials-item__content-heading + p{
                            margin-left: 0;
                        }

                        .couponBar__specials-item__content-heading{
                            font-size: em(22);
                        }

                        p{
                            font-size: em(12);
                        }
                    }
                }
            }
        }
    }


    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    // ∟Two
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .couponBar--has-2{
        @include breakpoint(1155){
            .couponBar{
                &__heading{
                    width: 100px;
                }

                &__specials{
                    width: 702px;
                    max-width: 100%;
                }
            }
        }
        @include breakpoint(1000){
            .couponBar{
                &__heading{
                    display:none;
                }

                &__specials{
                    left: 50px !important;
                    right: auto;
                    width: calc(100% - 260px);

                    &-item{
                        &:first-child{
                            .couponBar__specials{
                                &-item{
                                    &__content{
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }

                        &:first-child{
                            width: 300px;
                        }

                        &:nth-child(2){
                            width: calc(100% - 310px);

                            .couponBar__specials{
                                &-item{
                                    &__content{
                                        padding-left: 10px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(900){
            .couponBar{
                &__specials{
                    &-item{
                        &:first-child{
                            width: 250px;
                        }

                        &:nth-child(2){
                            width: calc(100% - 260px);
                        }

                        .couponBar__specials-item__content-heading{
                            font-size: em(22);
                        }

                        p{
                            font-size: em(12);
                        }

                        &__percentage{
                            margin-bottom: 0;
                            font-size: 42px !important;
                            line-height: em(34, 34) !important;

                            span{
                                bottom: 3px;
                                right: 0;
                                font-size: 10px;
                            }

                            + p{
                                font-size: 17px !important;
                                margin-top: 0;
                            }
                        }

                        &--plus{
                            &:before{
                                @include fontFamily(gotham, bold);
                                content: '+';
                                left: -19px;
                                height: 25px;
                                width: 25px;
                                font-size: em(16);
                                line-height: 25px;
                                border-width: 2px;
                            }
                        }
                    }
                }
            }
        }
    }


    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    // ∟Three
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .couponBar--has-3{
        @include breakpoint(1290){
            .couponBar{
                &__specials{
                    &-item{
                        &:first-child,
                        &:nth-child(2){
                            .couponBar__specials-item{
                                &__content{
                                    padding-right: 10px;
                                }
                            }
                        }

                        &:first-child{
                            width: 290px;
                        }

                        &:nth-child(2){
                            width: 325px;

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 21px;
                                }
                            }
                        }

                        &:nth-child(3){
                            width: calc(100% - 635px);

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(1220){
            .couponBar{
                &__specials{
                    &-item{
                        .couponBar__specials-item__content-heading{
                            font-size: em(22);
                        }

                        p{
                            font-size: em(12);
                        }

                        &__percentage{
                            margin-bottom: 0;
                            font-size: 42px !important;
                            line-height: em(34, 34) !important;

                            span{
                                bottom: 3px;
                                right: 0;
                                font-size: 10px;
                            }

                            + p{
                                font-size: 17px !important;
                            }
                        }

                        &--plus{
                            &:before{
                                @include fontFamily(gotham, bold);
                                content: '+';
                                left: -19px;
                                height: 25px;
                                width: 25px;
                                font-size: em(16);
                                line-height: 25px;
                                border-width: 2px;
                            }
                        }

                        &:first-child{
                            width: 280px;
                        }

                        &:nth-child(2){
                            width: 310px;

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 37px;
                                }
                            }
                        }

                        &:nth-child(3){
                            width: calc(100% - 610px);

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 20px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(1120){
            .couponBar{
                &__specials{
                    &-item{
                        &:first-child{
                            width: 250px;
                        }

                        &:nth-child(2){
                            width: 280px;

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 24px;
                                }
                            }
                        }

                        &:nth-child(3){
                            width: calc(100% - 550px);
                        }
                    }
                }
            }
        }
        @include breakpoint(1055){
            .couponBar{
                &__specials{
                    &-item{
                        &__content{
                            text-align: center;
                        }

                        &__percentage{
                            margin-bottom: 5px;
                            font-size: em(34, 22) !important;
                            line-height: em(34, 34) !important;
                            float: none;

                            sup{
                                font-size: em(28, 48.66);
                            }

                            span{
                                right: 0;
                                bottom: -3px;
                                font-size: 7px;
                                line-height: 14px;
                            }

                            + p{
                                float: none;
                                font-size: em(13) !important;
                                line-height: em(14.62, 13) !important;
                                margin-left: 0;
                            }
                        }

                        &:first-child,
                        &:nth-child(2){
                            width: 190px;
                        }

                        &:nth-child(2){
                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 10px;
                                }
                            }
                        }

                        &:nth-child(3){
                            width: calc(100% - 400px);
                        }
                    }
                }
            }
        }
        @include breakpoint(tablet-landscape){
            .couponBar{
                &__specials{
                    width: calc(100% - 260px);
                }
            }
        }
        @include breakpoint(900){
            .couponBar{
                &__specials-item{
                    &:first-child,
                    &:nth-child(2){
                        width: 140px;
                    }

                    &:nth-child(3){
                        width: calc(100% - 300px);
                    }
                }
            }
        }
        @include breakpoint(800){
            .couponBar{
                &__specials{
                    width: calc(100% - 240px);

                    &-item{
                        .couponBar__specials-item__content-heading{
                            font-size: em(18);
                        }

                        p{
                            font-size: em(8);
                        }

                        &__percentage{
                            + p{
                                font-size: em(8) !important;
                            }
                        }
                    }
                }

                &__code{
                    width: 155px;

                    p{
                        font-size: em(14);
                        padding-top: 2px;
                    }
                }
            }
        }
    }


    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    // ∟Four
    //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .couponBar--has-4{
        @include breakpoint(1250){
            .couponBar{
                &__heading{
                    display: none;

                    + .couponBar__specials{
                        width: calc(100% - 280px);
                        left: 50px;
                    }
                }

                &__specials{
                    &-item{
                        &:first-child,
                        &:nth-child(2),
                        &:nth-child(3){
                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                            }
                        }

                        &:nth-child(4){
                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(1110){
            height: 75px;

            .couponBar{
                &__specials{
                    &-item{
                        min-width: 140px;
                        box-sizing: border-box;

                        .couponBar__specials-item__content-heading{
                            font-size: em(22);
                        }

                        p{
                            font-size: em(12);
                        }

                        &__percentage{
                            margin-bottom: 0;
                            font-size: em(34, 22) !important;
                            line-height: em(34, 34) !important;

                            span{
                                right: 0;
                                font-size: 7px;
                            }
                        }

                        &--plus{
                            &:before{
                                @include fontFamily(gotham, bold);
                                content: '+';
                                left: -19px;
                                height: 25px;
                                width: 25px;
                                font-size: em(16);
                                line-height: 25px;
                                border-width: 2px;
                            }
                        }

                        &:nth-child(4){
                            .couponBar__specials-item{
                                &__content{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                &__code{
                    margin-top: 12px;
                }
            }
        }
        @include breakpoint(tablet-landscape){
            .couponBar{
                &__heading{
                    + .couponBar__specials{
                        width: calc(100% - 260px);
                    }
                }
            }
        }
        @include breakpoint(940){
            .couponBar{
                &__specials{
                    &-item{
                        &__percentage{
                            + p{
                                font-size: em(8) !important;
                            }
                        }

                        &:first-child,
                        &:nth-child(2),
                        &:nth-child(3){
                            width: 115px;
                            min-width: 115px;
                        }

                        &:nth-child(4){
                            width: calc(100% - 345px);

                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(860){
            .couponBar{
                &__heading{
                    + .couponBar__specials{
                        width: calc(100% - 240px);
                    }
                }

                &__specials{
                    &-item{
                        .couponBar__specials-item__content-heading{
                            font-size: em(18);
                        }

                        p{
                            font-size: em(8);
                        }

                        &:nth-child(4){
                            .couponBar__specials-item{
                                &__content{
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }

                &__code{
                    width: 155px;

                    p{
                        font-size: em(14);
                        padding-top: 2px;
                    }
                }
            }
        }
    }
}


//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟Toggle
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

@include breakpoint(tablet-portrait){
    .couponBar{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: z(element, popup) + 3;
        width: 100%;
        height: auto;
        background-color: is('white') !important;

        .contain{
            padding-left: 0;
            padding-right: 0;
        }

        &__linkCover,
        &__heading,
        &__code{
            display: none;
        }

        &__specials{
            position: static;
            display: none;
            width: 100% !important;
            max-width: 100% !important;
            padding: 20px;
            text-align: left;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: auto;

            &-toggler{
                display: block;
            }

            &-item--ecoupon{
                display: inline-block !important;

                .couponBar__specials-item{
                    &__content-heading{
                        font-size: em(20) !important;

                        + p{
                            font-size: em(12) !important;
                        }
                    }
                }
            }

            &-item,
            &-item--ecoupon{
                position: relative;
                display: inline-block;
                width: 268px !important;
                height: 224px !important;
                float: none !important;
                vertical-align: top;
                border: 1px solid is('gray-light') !important;

                p{
                    font-size: 0.825em;
                }

                &__code{
                    display: block;
                }

                &:before{
                    display: none;
                }

                // &:not(:last-child){
                    .couponBar__specials-item{
                        &__content{
                            background-color: is('gray-lighter');
                            padding-top: 53px !important;
                            padding-left: 25px !important;
                        }

                        &__percentage{
                            font-size: 42px !important;
                            line-height: 32px !important;
                            margin-top: 3px !important;

                            span{
                                bottom: -2px;
                                right: 0;
                                font-size: 10px;
                            }

                            + p{
                                font-size: 17px !important;
                                margin-top: 0 !important;
                                margin-left: 8px !important;
                            }
                        }
                    }

                    &:hover{
                        .couponBar__specials-item__content{
                            background-color: darken(is('gray-lighter'), 5);
                        }
                    }
                // }

                &:nth-child(even){
                    .couponBar__specials-item{
                        &__content{
                            padding-top: 50px !important;
                            padding-left: 30px !important;
                            background-color: is('red');

                            .couponBar__specials-item__content-heading, p, span{
                                color: is('white') !important;
                            }

                            .couponBar__specials-item__content-heading{
                                font-size: em(24);
                            }

                            p{
                                // display: block;
                                font-size: em(12);
                                margin-left: 0;
                            }
                        }
                    }

                    &:hover{
                        .couponBar__specials-item__content{
                            background-color: darken(is('red'), 5);
                        }
                    }
                }

                + li{
                    margin-left: 16px;
                }

                &-link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .couponBar__specials-item__content-heading{
                    margin-top: 0 !important;
                    font-size: 1.25em;
                }

                &__content{
                    @include prefixes('transform', 'none');
                    @include transition(background-color);
                    position: relative;
                    top: 0;
                    display: block;
                    height: 150px;
                    padding-right: 0 !important;
                    border-bottom: 1px solid is('gray-light');
                    box-sizing: border-box;
                }

                &__percentage{
                    margin-bottom: 0 !important;

                    + p{
                        display: inline-block;
                    }
                }
            }
        }

        &--has{
            &-1{
                .couponBar__specials-item .couponBar__specials-item__content-heading{
                    font-size: 1.25em;

                    + p{
                        display: block;
                        margin-left: 0px;
                        font-size: em(14);
                    }
                }
            }
            &-3,
            &-4{
                .couponBar__specials-item{
                    &:nth-child(2){
                        .couponBar__specials-item__content{
                            padding-left: 20px !important;
                        }
                    }
                }
            }

            &-4{
                .couponBar__specials-item{
                    &:nth-child(3){
                        .couponBar__specials-item__content{
                            padding-left: 14px !important;
                        }
                    }
                }
            }
        }
    }
}

//─────────────────────────────────── PRINT STYLING ────┐

@media print{
    .couponBar--has-2{
        .couponBar{
            &__specials{
                left: 50px !important;
                right: auto;
                width: calc(100% - 260px);

                &-item{

                    &:first-child{
                        width: 250px;
                        .couponBar__specials{
                            &-item{
                                &__content{
                                    padding-right: 10px;
                                }
                            }
                        }
                    }

                    &:nth-child(2){
                        width: calc(100% - 260px);
                    }

                    .couponBar__specials-item__content-heading{
                        font-size: em(16);
                    }

                    p{
                        font-size: em(12);
                    }

                    &__percentage{
                        margin-bottom: 0;
                        font-size: 42px !important;
                        line-height: em(34, 34) !important;

                        span{
                            bottom: 3px;
                            right: 0;
                            font-size: 10px;
                        }

                        + p{
                            font-size: 17px !important;
                            margin-top: 0;
                        }
                    }

                    &--plus{
                        &:before{
                            @include fontFamily(gotham, bold);
                            content: '+';
                            left: -19px;
                            height: 25px;
                            width: 25px;
                            font-size: em(16);
                            line-height: 25px;
                            border-width: 2px;
                        }
                    }
                }
            }
            &__heading{
                display: none;
            }
        }
    }
    .couponBar--has-3{
        .couponBar{
            &__specials{
                left: 0;
                width: calc(100% - 240px);

                &-item{
                    &:first-child,
                    &:nth-child(2){
                        width: 140px;

                        .couponBar__specials-item{
                            &__content{
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }
                    }

                    &:nth-child(3){
                        width: calc(100% - 300px);
                    }

                    .couponBar__specials-item__content-heading{
                        font-size: em(18);
                    }

                    p{
                        font-size: em(8);
                    }

                    &__content{
                        text-align: center;
                    }


                    &__percentage{
                        margin-bottom: 5px;
                        font-size: em(34, 22) !important;
                        line-height: em(34, 34) !important;
                        float: none;

                        sup{
                            font-size: em(28, 48.66);
                        }

                        span{
                            right: 0;
                            bottom: -3px;
                            font-size: 7px;
                            line-height: 14px;
                        }

                        + p{
                            float: none;
                            font-size: em(8) !important;
                            line-height: em(14.62, 13) !important;
                            margin-left: 0;
                        }
                    }
                }
            }

            &__code{
                width: 155px;

                p{
                    font-size: em(14);
                    padding-top: 2px;
                }
            }
            &__heading{
                display: none;
            }
        }
    }
    .couponBar--has-4{
        height: 75px;

        .couponBar{
            &__heading{
                display: none;

                + .couponBar__specials{
                    width: calc(100% - 206px);
                    left: 0px;
                }
            }

            &__specials{
                &-item{
                    min-width: 140px;
                    box-sizing: border-box;

                    &__percentage{
                        margin-bottom: 0;
                        font-size: em(34, 22) !important;
                        line-height: em(34, 34) !important;

                        span{
                            right: 0;
                            font-size: 7px;
                        }

                        + p{
                            font-size: em(8) !important;
                        }
                    }

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3){
                        width: 115px;
                        min-width: 115px;
                    }

                    .couponBar__specials-item__content-heading{
                        font-size: em(18);
                    }

                    p{
                        font-size: em(8);
                    }

                    &:nth-child(4){
                        width: calc(100% - 345px);

                        .couponBar__specials-item{
                            &__content{
                                padding-left: 10px;
                                text-align: center;
                            }
                        }
                    }

                    &--plus{
                        &:before{
                            @include fontFamily(gotham, bold);
                            content: '+';
                            left: -19px;
                            height: 25px;
                            width: 25px;
                            font-size: em(16);
                            line-height: 25px;
                            border-width: 2px;
                        }
                    }
                }
            }

            &__code{
                width: 155px;

                p{
                    font-size: em(14);
                    padding-top: 2px;
                }
            }
        }
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _ECoupons
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.eCouponBar{
    position: relative;
    background-color: is('red');
    padding: 9px 0;

    &__heading{
        display: inline-block;
        vertical-align: middle;
        width: 15%;
        padding-left: 60px;
        margin-left: -4px;
        box-sizing: border-box;
        // text-align: center;

        p{
            @include fontFamily(gotham, bold);
            @include fontSize(19.34, 19.34, 15);
            display: inline-block;
            padding: 1px 3px;
            color: is('white');
            text-transform: uppercase;
            border: 2px solid is('white');
        }
    }

    &__specials{
        position: relative;
        display: inline-block;
        width: 85%;
        vertical-align: middle;
        list-style: none;
        margin-left: -4px;
        text-align: center;

        &-item{
            width: 100%;

            &__text{
                @include fontFamily(gotham, bold);
                @include fontSize(13, 14.62, 15);
                text-transform: uppercase;
                color: is('white');

                strong{
                    font-size: em(19, 13);
                    padding-right: 8px;
                    // line-height: em(19, 19);
                    vertical-align: middle;
                    margin-top: -1px;
                }

                span{
                    vertical-align: middle;
                }
            }
        }
    }

    &--has-2{
        .eCouponBar__specials{
            text-align: left;

            &-item{
                display: inline-block;
                vertical-align: middle;
                width: 45.5%;
                margin-left: -4px;
                // padding-left: 20px;
                box-sizing: border-box;

                &:nth-child(2){
                    position: relative;
                    width: 5.5%;
                    padding-left: 0px;

                    p{
                        @include fontFamily(gotham, bold);
                        @include fontSize(10, 23);
                        width: 23px;
                        height: 23px;
                        color: is('red');
                        text-align: center;
                        text-transform: uppercase;
                        border: 2px solid is('gray-light');
                        border-radius: 50%;
                        background-color: is('white');
                        // margin: 0 auto;
                    }
                }
            }
        }
    }

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(computer){
        &--has-2{
            .eCouponBar__heading{
                padding-left: 0px;
            }
        }
    }

    @include breakpoint(1000){
        &--has-2{
            .eCouponBar{
                &__heading{
                    display: none;
                }

                &__specials{
                    width: 100%;
                }
            }
        }
    }

    @include breakpoint(tablet-portrait){
        display: none;
    }

//────────────────────────────────────────────────────┘

}
