<div id="headerCouponPane" runat="server">
    <div class="couponBar couponBar--has-1">
        <a href="#" class="couponBar__linkCover"></a>

        <div class="contain clearfloat">
            <button type="button" class="couponBar__specials-toggler js-specials_toggler">
                <div class="couponBar__specials-toggler__text-closed">
                    <p>Free Shipping</p>
                    <span>Tap for More Details</span>
                </div>

                <div class="couponBar__specials-toggler__text-opened">
                    <p>Available Offers</p>
                    <span>(1 Available)</span>
                </div>
            </button>

            <div class="couponBar__heading">
                <p>Today's Deal</p>
            </div>

            <ul class="couponBar__specials">
                <li class="couponBar__specials-item">
                    <a href="#" class="couponBar__specials-item-link">
                        <div class="couponBar__specials-item__content">
                            <p class="couponBar__specials-item__content-heading">Free Shipping</p>
                            <p>On Orders of <span>$35 or More**</span></p>
                        </div>

                        <div class="couponBar__specials-item__code">
                            <strong>
                                <span>Use Code: CELZ</span>
                                <span>Offer Ends: 02/03/18</span>
                            </strong>

                            <span>*Details</span>
                        </div>
                    </a>
                </li>

                <li class="couponBar__specials-item--ecoupon">
                    <a href="#" class="couponBar__specials-item-link">
                        <div class="couponBar__specials-item__content">
                            <p class="couponBar__specials-item__content-heading">Free $15 E-Coupon</p>
                            <p>On Orders of <span>$199 or More*</span></p>
                        </div>

                        <div class="couponBar__specials-item__code">
                            <strong>
                                <span>Use Code: CELZ</span>
                                <span>Offer Ends: 02/03/18</span>
                            </strong>

                            <span>*Details</span>
                        </div>
                    </a>
                </li>

                <li class="couponBar__specials-item--ecoupon">
                    <a href="#" class="couponBar__specials-item-link">
                        <div class="couponBar__specials-item__content">
                            <p class="couponBar__specials-item__content-heading">Free $15 E-Coupon</p>
                            <p>On Orders of <span>$199 or More**</span></p>
                        </div>

                        <div class="couponBar__specials-item__code">
                            <strong>
                                <span>Use Code: CELZ</span>
                                <span>Offer Ends: 02/03/18</span>
                            </strong>

                            <span>*Details</span>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="couponBar__code">
                <p>
                    <strong>Use Code: CELZ</strong>
                    <strong>Offer Ends: 02/03/18</strong>
                    <span>*Exclusions &amp; Details</span>
                </p>
            </div>
        </div>
    </div>

    <div class="eCouponBar eCouponBar--has-2">
        <a href="#" class="eCouponBar__linkCover"></a>

        <div class="contain clearfloat">
            <div class="eCouponBar__heading">
                <p>Bonus</p>
            </div>

            <ul class="eCouponBar__specials">
                <li class="eCouponBar__specials-item">
                    <a href="#" class="eCouponBar__specials-item-link">
                        <div class="eCouponBar__specials-item__content">
                            <p class="eCouponBar__specials-item__text">
                                <strong>Free $15 E-COUPON</strong> <span>on orders of $199 or more</span>
                            </p>
                        </div>
                    </a>
                </li>

                <li class="eCouponBar__specials-item">
                    <p>or</p>
                </li>

                <li class="eCouponBar__specials-item">
                    <a href="#" class="eCouponbar__specials-item-link">
                        <div class="eCouponBar__specials-item__content">
                            <p class="eCouponBar__specials-item__text">
                                <strong>Free $15 e-coupon</strong> <span>on orders of $199 or more</span>
                            </p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>