.brandLogo{
    width: 234px;
    padding: 20px 40px;
    float: left;

    img{
        display: block;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .brandLogo{
        width: 156px;
        padding: 18px 48px 18px 20px;

        img{
            width:100%;
            height:auto;
        }
    }
}

@include breakpoint(tablet-portrait){
    .brandLogo{
        width: 134px;
        padding: 10px 48px 10px 20px;
    }
}

//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .brandLogo{
            width: 200px;
            padding: 20px 30px;

            a img{
                width:100%;
            }
        }
    }


//────────────────────────────────────────────────────┘