<div id="headerSearchPane" class="siteSearch" runat="server">
    <div class="siteSearch__container">
        <div id="unbxdSearchPane" class="unbxdNew unbxdSearchBarContainer unbxdSearch">
            <div id="unbxdSearchContainerPane" class="unbxdSearchContainer unbxd-yui-skin-sam">
                <input type="text" id="unbxd_qPane" class="unbxd_q" name="unbxd_q" placeholder="Enter keyword or item number..." autocomplete="off" data-search-url="<%= ControlContext.Settings.SearchLandingPage %>" pattern=".*\S.*" required>
                <label for="unbxd_qPane" class="siteSearch__instructions">Enter keyword or item number</label>
                <button class="siteSearch__button"><img id="unbxdSubmitPane" class="unbxdHeaderSearchButton" alt="search" aria-hidden="true" src="../SkinSource/Images/ui/icon-search-o.svg"></button>
                <span class="unbxdHeaderSearchButton screen-reader-text">Search</span>
                <input type="hidden" name="unbxd_x" value="0">
                <input type="hidden" name="unbxd_y" value="0">
                <input type="hidden" name="unbxd_sp_cs" value="UTF-8">
                <input type="hidden" name="unbxd_s" value="unbxd">
            </div>
        </div>
    </div>
</div>