.header__top{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;

    &-message{
        @include fontFamily(gotham, medium);
        @include fontSize(13, 15.6);
        color: is('red');
        text-align: left;
    }

    &-nav{
        position: absolute;
        top: 0;
        right: 50px;

        &-menu{
            display: inline-block;

            &:not(:last-child){
                padding-right: 15px;
                border-right: 1px solid #ccc;
            }

            &, &-item{
                &:not(:last-child){
                    margin-right: 15px;
                }
            }

            &-item{
                display: inline-block;

                > a, > a:visited{
                    color: #3f4044;

                    &:hover{
                        color: is('red');
                        text-decoration: none;
                    }

                    &:focus{
                        @include transition(none);
                        color: is('white');
                        background-color: is('red');
                        box-shadow: 0 0 0 5px is('red');
                    }
                }
            }

            &-link{
                @include fontFamily(gotham, book);
                @include fontSize(14, 16.8);
                @include transition(color);

                &__icon{
                    &, + span{
                        display: inline-block;
                        vertical-align: middle;
                    }

                    + span{
                        margin-top: -4px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .header__top{
        &-nav{
            &-menu{
                &, &-item{
                    &:not(:last-child){
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-landscape){
    .header__top{
        text-align: center;
    }
}



//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

@media print{
    .header__top{
        display:block;
        background-color: is('white');

        &-message{
            display:none;
        }

        &-nav{
            display:block;

            &-menu{
                display:none;

                &:last-child{
                    display:block;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘