<section role="herobanner" class="heroBanner heroBanner--has-promoBlocks section margin-top-sm margin-top-null-mobile margin-bottom-md margin-bottom-sm-mobile">
    <div class="contain">
        <div class="heroBanner__slider js-hero_slick" role="region" aria-label="Promotional carousel">
            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-colorful-paint-palette.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-center">
                    <div class="heroBanner__slide-content-wrapper">
                        <h5 class="heroBanner__slide-subheading">Mixed Media Giveaway</h5>
                        <h3 id="slick-slide00" class="heroBanner__slide-heading">Enter for a chance to win a prize pack worth more than $300!</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Learn More">Learn More</a>
                    </div>

                    <p class="heroBanner__slide-note">Offer Valid Until 6/22/2018</p>
                </div>
            </div>

            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-livingroom-couch.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-right">
                    <div class="heroBanner__slide-content-wrapper heroBanner__slide-content-wrapper--position-middle">
                        <h5 class="heroBanner__slide-subheading">Spruce Up Your Walls</h5>
                        <h3 id="slick-slide01" class="heroBanner__slide-heading">April is National Decorating Month</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Shop Now">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-brush-on-watercolors.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-left">
                    <div class="heroBanner__slide-content-wrapper">
                        <h3 id="slick-slide02" class="heroBanner__slide-heading">Professional Watercolor Tubes <b>40%</b> Off List</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Shop Now">Shop Now</a>
                    </div>

                    <p class="heroBanner__slide-note">Offer Valid Until 6/22/2018</p>
                </div>
            </div>
        </div>

        <div class="heroBanner__promoBlocks">
            <a href="#" class="promoBlock bg-red" title="Shop Now!">
                <div class="promoBlock__content promoBlock__content--position-middle">
                    <p class="promoBlock__heading">Sale</p>
                    <p class="promoBlock__message">Premium Recycled Sketchbook 9x12</p>
                    <p class="promoBlock__link">Shop Now</p>
                </div>
            </a>

            <a href="#" class="promoBlock bg-gray" title="Get 30% Off Regular Priced Items">
                <div class="promoBlock__content promoBlock__content--position-top">
                    <p class="promoBlock__heading"><b>30%</b> Off</p>
                    <p class="promoBlock__message">Any Regular One Priced Item</p>
                    <p class="promoBlock__note">Code: THIRTYOFF<br>Offer Ends: 4/7/18</p>
                </div>
            </a>
        </div>
    </div>
</section>