<section role="mediablocks" class="mediaBlocks section bg-gray-lighter padding-top-lg padding-bottom-md padding-top-null-mobile padding-bottom-sm-mobile">
    <ul class="contain">
        <li class="mediaBlocks__block mediaBlocks__block--type-video" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
            <div class="mediaBlocks__block-button js-lightbox_trigger">
                <div class="mediaBlocks__block-button__video-play">
                    <button type="button" class="button-play" aria-label="Play Video"></button>
                </div>

                <div class="mediaBlocks__block-button__video-meta">
                    <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                    <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                </div>
            </div>
        </li>

        <li class="mediaBlocks__block mediaBlocks__block--type-video" style="background-image:url('../SkinSource/Images/backgrounds/bg-paint-pouring.jpg')">
            <div class="mediaBlocks__block-button js-lightbox_trigger">
                <div class="mediaBlocks__block-button__video-play">
                    <button type="button" class="button-play" aria-label="Play Video"></button>
                </div>

                <div class="mediaBlocks__block-button__video-meta">
                    <p class="mediaBlocks__block-button__video-meta-title">Vallejo Acrylics & Ampersand Panel Paint Pouring</p>
                    <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                </div>
            </div>
        </li>
    </ul>
</section>