<section role="points-cashin" class="pointsCashin section margin-bottom-xl margin-bottom-sm-mobile">
    <div class="contain">
        <header class="section__header margin-bottom-xl margin-bottom-sm-mobile padding-x-sm">
            <h2 class="section__header-heading">You've Earned It, Now Spend It!</h2>

            <p class="section__header-paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        </header>

        <div class="pointsCashin__wrapper">
            <div class="pointsCashin__column">
                <p class="pointsCashin__column-heading">
                    <strong>250</strong>
                    <span>Available Points</span>
                </p>

                <ul class="pointsCashin__redeemList">
                    <li class="pointsCashin__redeemList-item">
                        <p class="pointsCashin__redeemList-item-points">Redeem <strong>200</strong> Points</p>
                        <p class="pointsCashin__redeemList-item-dollarAmount"><sup>$</sup>5</p>
                        <a href="#" class="pointsCashin__redeemList-item-button button">Issue Reward</a>
                    </li>

                    <li class="pointsCashin__redeemList-item">
                        <p class="pointsCashin__redeemList-item-points">Redeem <strong>300</strong> Points</p>
                        <p class="pointsCashin__redeemList-item-dollarAmount"><sup>$</sup>10</p>
                        <a href="#" class="pointsCashin__redeemList-item-button button">Issue Reward</a>
                    </li>

                    <li class="pointsCashin__redeemList-item">
                        <p class="pointsCashin__redeemList-item-points">Redeem <strong>500</strong> Points</p>
                        <p class="pointsCashin__redeemList-item-dollarAmount"><sup>$</sup>20</p>
                        <a href="#" class="pointsCashin__redeemList-item-button button">Issue Reward</a>
                    </li>
                </ul>
            </div>

            <div class="pointsCashin__column">
                <p class="pointsCashin__column-heading">
                    <strong><sup>$</sup>50</strong>
                    <span>Available Points</span>
                </p>

                <div class="pointsCashin__table">
                    <div class="pointsCashin__table-head">
                        <div class="pointsCashin__table-column">Amount</div>
                        <div class="pointsCashin__table-column">Certificate <span class="word">Number</span><span class="symbol">#</span></div>
                        <div class="pointsCashin__table-column">Issued Date</div>
                        <div class="pointsCashin__table-column">Expiration Date</div>
                    </div>

                    <div class="pointsCashin__table-row">
                        <div class="pointsCashin__table-column">$5</div>
                        <div class="pointsCashin__table-column">123456</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>18</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>19</div>
                    </div>

                    <div class="pointsCashin__table-row">
                        <div class="pointsCashin__table-column">$5</div>
                        <div class="pointsCashin__table-column">123456</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>18</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>19</div>
                    </div>

                    <div class="pointsCashin__table-row">
                        <div class="pointsCashin__table-column">$5</div>
                        <div class="pointsCashin__table-column">123456</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>18</div>
                        <div class="pointsCashin__table-column">05/08/<span>20</span>19</div>
                    </div>

                    <div class="pointsCashin__table-row">
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                    </div>

                    <div class="pointsCashin__table-row">
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                        <div class="pointsCashin__table-column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>